src/main/app/flujo-diseno-industrial.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.9.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd 
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="flujo-diseno-industrial">
		<http:listener config-ref="HTTP_colciencias_Configuration"
			path="/flujoDisenoIndustrial" doc:name="HTTP" />
		<cxf:jaxws-service doc:name="flujoDisenoIndustrial"
			service="disenoIndustrialService" serviceClass="co.com.ic2.colciencias.ws.IServiceDisenoIndustrial" />
		<choice doc:name="Choice">
			<when evaluator="groovy"
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'consultarDisenosIndustriales'">
				<processor-chain doc:name="Processor Chain">
					<db:select config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[select * from diseno_industrial]]></db:parameterized-query>
					</db:select>
				<json:object-to-json-transformer
						doc:name="Object to JSON" />
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
					<scripting:component doc:name="Groovy">
						<scripting:script engine="Groovy"><![CDATA[co.com.ic2.transformers.TransformerDisenoIndustrial.getDisenosIndustriales(payload)]]></scripting:script>
					</scripting:component>
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
				</processor-chain>
			</when>
			<when evaluator="groovy"
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'consultarDisenosIndustrialesGrupo'">
				<processor-chain doc:name="Processor Chain">

					<set-session-variable variableName="codigoGrupo"
						value="#[payload]" doc:name="Session Variable" />

					<db:select config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[select * from diseno_industrial di,diseno_industrial_autor dia where di.k_codigo=dia.i_cod_diseno_industrial and dia.i_cod_grupo_investigacion=#[codigoGrupo]]]></db:parameterized-query>
					</db:select>

					<json:object-to-json-transformer
						doc:name="Object to JSON" />
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
					<scripting:component doc:name="Groovy">
						<scripting:script engine="Groovy"><![CDATA[co.com.ic2.transformers.TransformerDisenoIndustrial.getDisenosIndustriales(payload)]]></scripting:script>
					</scripting:component>
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
				</processor-chain>
			</when>
			<when evaluator="groovy"
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'insertarDisenoIndustrial'">
				<processor-chain doc:name="Processor Chain">
					<set-session-variable variableName="codigo"
						value="#[payload[0]]" doc:name="Session Variable" />
					<set-session-variable variableName="numeroRegistro"
						value="#[payload[1]]" doc:name="Session Variable" />
					<set-session-variable variableName="tituloRegistro"
						value="#[payload[2]]" doc:name="Session Variable" />
					<set-session-variable variableName="ano"
						value="#[payload[3]]" doc:name="Session Variable" />
					<set-session-variable variableName="gaceta"
						value="#[payload[4]]" doc:name="Session Variable" />
					<set-session-variable variableName="paisObtencion"
						value="#[payload[5]]" doc:name="Session Variable" />
					<set-session-variable variableName="contrato"
						value="#[payload[6]]" doc:name="Session Variable" />
					<set-session-variable variableName="categoria"
						value="#[payload[7]]" doc:name="Session Variable" />
					<set-session-variable variableName="clasificado"
						value="#[payload[8]]" doc:name="Session Variable" />
					<db:insert config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[insert into diseno_industrial (k_codigo,c_numero_reg,n_titulo_reg,i_ano_obtencion,
	                        b_gaceta,i_pais_obtencion,b_contrato,c_categoria,b_clasificado) values(#[codigo],#[numeroRegistro],#[tituloRegistro],#[ano],
	                        #[gaceta],#[paisObtencion],#[contrato],#[categoria],#[clasificado])]]></db:parameterized-query>
					</db:insert>
				</processor-chain>
			</when>
			<when evaluator="groovy"
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'insertarDisenosIndustriales'">
				<processor-chain doc:name="Processor Chain">
					<set-session-variable variableName="codigoGrupo"
						value="#[payload[0]]" doc:name="Session Variable" />
					<set-session-variable variableName="disenosIndustriales"
						value="#[payload[1]]" doc:name="Session Variable" />

					<foreach collection="disenosIndustriales" doc:name="For Each"
						counterVariableName="i" rootMessageVariableName="disenoIndustrial">
						<set-variable variableName="disenoIndustrial"
							value="#[disenosIndustriales[i-1]]" doc:name="Session Variable" />

						<logger message="#[disenosIndustriales[i-1].nombre]" level="INFO"
							doc:name="Logger" />

						<db:insert config-ref="MySQL_Configuration"
							autoGeneratedKeys="true" autoGeneratedKeysColumnIndexes="1"
							doc:name="Database">
							<db:parameterized-query><![CDATA[insert into diseno_industrial (c_numero_reg,n_titulo_reg,i_ano_obtencion,
	                        b_gaceta,i_pais_obtencion,b_contrato,c_categoria,b_clasificado) values(#[disenoIndustrial.numeroRegistro],#[disenoIndustrial.nombre],#[disenoIndustrial.ano],
	                        #[disenoIndustrial.gaceta],(select k_codigo from pais where n_nombre like#[disenoIndustrial.pais.concat('%')]),#[disenoIndustrial.contrato],#[disenoIndustrial.categoria],#[disenoIndustrial.clasificado])]]></db:parameterized-query>

						</db:insert>
						<logger message="#[payload]" level="INFO" doc:name="Logger" />
						<set-variable variableName="codigoDisenoIndustrial"
							value="#[payload[0].GENERATED_KEY]" doc:name="Variable" />
						<logger
							message="Codigo diseno industrial generado #[codigoDisenoIndustrial]"
							level="INFO" doc:name="Logger" />

						<set-variable variableName="autores"
							value="#[disenosIndustriales[i-1].autores]" doc:name="Variable" />

						<foreach collection="autores" doc:name="For Each"
							counterVariableName="j" rootMessageVariableName="articulo">
							<set-variable variableName="autor" value="#[autores[j-1]]"
								doc:name="Variable" />

							<logger message="#[autor.nombreCompleto]" level="INFO"
								doc:name="Logger" />

							<db:select config-ref="MySQL_Configuration" doc:name="Database">
								<db:parameterized-query><![CDATA[select k_codigo from investigador where n_nombre=#[autor.nombreCompleto]]]></db:parameterized-query>
							</db:select>

							<logger message="#[payload]" level="INFO" doc:name="Logger" />

							<choice doc:name="Choice">
								<when expression="#[payload.size() ==0]">
									<logger message="no existe investigador" level="INFO"
										doc:name="Logger" />
									<db:insert config-ref="MySQL_Configuration"
										autoGeneratedKeys="true" autoGeneratedKeysColumnIndexes="1"
										doc:name="Database">
										<db:parameterized-query><![CDATA[insert into investigador (n_nombre) values(#[autor.nombreCompleto])]]></db:parameterized-query>
									</db:insert>

									<set-variable variableName="idAutor"
										value="#[payload[0].GENERATED_KEY]" doc:name="Variable" />
								</when>
								<otherwise>
									<logger message="Investigador #[payload] ya existe"
										level="INFO" doc:name="Logger" />

									<set-variable variableName="idAutor"
										value="#[payload[0].k_codigo]" doc:name="Variable" />
								</otherwise>
							</choice>

							<logger message="#[idAutor]" level="INFO" doc:name="Logger" />

							<db:insert config-ref="MySQL_Configuration"
								autoGeneratedKeys="true" autoGeneratedKeysColumnIndexes="1"
								doc:name="Database">
								<db:parameterized-query><![CDATA[insert into diseno_industrial_titular (i_cod_diseno_industrial,i_cod_investigador,i_cod_grupo_investigacion) values(#[codigoDisenoIndustrial],#[idAutor],#[codigoGrupo])]]></db:parameterized-query>
							</db:insert>
						</foreach>

					</foreach>

				</processor-chain>
			</when>
		</choice>
	</flow>
</mule>
