src/main/app/flujo-esquema-circuito.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.9.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd 
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="flujo-esquema-circuito">
		<http:listener config-ref="HTTP_colciencias_Configuration"
			path="/flujoEsquemaCircuito" doc:name="HTTP" />
		<cxf:jaxws-service doc:name="flujoEsquemaCircuito"
			service="esquemaCircuitoService" serviceClass="co.com.ic2.colciencias.ws.IServiceEsquemaCircuito" />
		<choice doc:name="Choice">
			<when
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'consultarClasificacionEsquemasCircuito'"
				evaluator="groovy">
				<processor-chain doc:name="Processor Chain">
				
				<set-session-variable variableName="codigoGrupo"
						value="#[payload]" doc:name="Session Variable" />
						
					<db:select config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[select c_categoria, count(c_categoria) numero from(
						select ec.k_codigo,ec.c_categoria from esq_circuito ec, 
						esq_circuito_titular ect 
						where ec.k_codigo=ect.i_cod_esq_circuito
						and ect.i_cod_grupo_investigacion=#[codigoGrupo]
						group by ec.k_codigo) as esq_circuito_grupo
						group by c_categoria]]></db:parameterized-query>
					</db:select>
				<json:object-to-json-transformer
						doc:name="Object to JSON" />
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
				</processor-chain>
			</when>
			<when evaluator="groovy"
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'consultarEsquemasCircuito'">
				<processor-chain doc:name="Processor Chain">
					<db:select config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[select * from esq_circuito]]></db:parameterized-query>
					</db:select>
					<json:object-to-json-transformer
						doc:name="Object to JSON" />
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
					<scripting:component doc:name="Groovy">
						<scripting:script engine="Groovy"><![CDATA[co.com.ic2.transformers.TransformerEsquemaCircuito.getEsquemasCircuito(payload)]]></scripting:script>
					</scripting:component>
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
				</processor-chain>
			</when>
			<when evaluator="groovy"
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'consultarEsquemasCircuitoGrupo'">
				<processor-chain doc:name="Processor Chain">

					<set-session-variable variableName="codigoGrupo"
						value="#[payload]" doc:name="Session Variable" />

					<db:select config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[select * from esq_circuito ec,esq_circuito ect where ec.k_codigo=ect.i_cod_esq_circuito and ect.i_cod_grupo_investigacion=#[codigoGrupo]]]></db:parameterized-query>
					</db:select>

					<json:object-to-json-transformer
						doc:name="Object to JSON" />
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
					<scripting:component doc:name="Groovy">
						<scripting:script engine="Groovy"><![CDATA[co.com.ic2.transformers.TransformerEsquemaCircuito.getEsquemasCircuito(payload)]]></scripting:script>
					</scripting:component>
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
				</processor-chain>
			</when>
			<when evaluator="groovy"
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'insertarEsquemaCircuito'">
				<processor-chain doc:name="Processor Chain">
					<set-session-variable variableName="codigo"
						value="#[payload[0]]" doc:name="Session Variable" />
					<set-session-variable variableName="numeroRegistro"
						value="#[payload[1]]" doc:name="Session Variable" />
					<set-session-variable variableName="tituloRegistro"
						value="#[payload[2]]" doc:name="Session Variable" />
					<set-session-variable variableName="ano"
						value="#[payload[3]]" doc:name="Session Variable" />
					<set-session-variable variableName="paisObtencion"
						value="#[payload[5]]" doc:name="Session Variable" />
					<set-session-variable variableName="contrato"
						value="#[payload[6]]" doc:name="Session Variable" />
					<set-session-variable variableName="categoria"
						value="#[payload[7]]" doc:name="Session Variable" />
					<set-session-variable variableName="clasificado"
						value="#[payload[8]]" doc:name="Session Variable" />
					<db:insert config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[insert into esq_circuito (k_codigo,c_num_registro,n_titulo_registro,i_ano_obtencion,
	                        i_pais_obtencion,b_contrato,c_categoria,b_clasificado) values(#[codigo],#[numeroRegistro],#[tituloRegistro],#[ano],
	                        #[paisObtencion],#[contrato],#[categoria],#[clasificado])]]></db:parameterized-query>
					</db:insert>
				</processor-chain>
			</when>

			<when evaluator="groovy"
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'insertarEsquemasCircuito'">
				<processor-chain doc:name="Processor Chain">
					<set-session-variable variableName="codigoGrupo"
						value="#[payload[0]]" doc:name="Session Variable" />
					<set-session-variable variableName="esquemas"
						value="#[payload[1]]" doc:name="Session Variable" />

					<foreach collection="esquemas" doc:name="For Each"
						counterVariableName="i" rootMessageVariableName="esquema">
						<set-variable variableName="esquema" value="#[esquemas[i-1]]"
							doc:name="Session Variable" />

						<logger message="#[esquemas[i-1].nombre]" level="INFO"
							doc:name="Logger" />

						<db:insert config-ref="MySQL_Configuration"
							autoGeneratedKeys="true" autoGeneratedKeysColumnIndexes="1"
							doc:name="Database">
							<db:parameterized-query><![CDATA[insert into esq_circuito (c_num_registro,n_titulo_registro,i_ano_obtencion,
	                        i_pais_obtencion,b_contrato,c_categoria,b_clasificado) values(#[esquema.numeroRegistro],#[esquema.nombre],#[esquema.ano],
	                        (select k_codigo from pais where n_nombre like #[esquema.pais.concat('%')]),#[esquema.contrato],#[esquema.categoria],#[esquema.clasificado])]]></db:parameterized-query>
						</db:insert>
						<logger message="#[payload]" level="INFO" doc:name="Logger" />
						<set-variable variableName="codigoEsquemaCircuito"
							value="#[payload[0].GENERATED_KEY]" doc:name="Variable" />
						<logger
							message="Codigo esquema circuito generado #[codigoEsquemaCircuito]"
							level="INFO" doc:name="Logger" />

						<set-variable variableName="autores" value="#[esquemas[i-1].autores]"
							doc:name="Variable" />

						<foreach collection="autores" doc:name="For Each"
							counterVariableName="j" rootMessageVariableName="articulo">
							<set-variable variableName="autor" value="#[autores[j-1]]"
								doc:name="Variable" />

							<logger message="#[autor.nombreCompleto]" level="INFO"
								doc:name="Logger" />

							<db:select config-ref="MySQL_Configuration" doc:name="Database">
								<db:parameterized-query><![CDATA[select k_codigo from investigador where n_nombre=#[autor.nombreCompleto]]]></db:parameterized-query>
							</db:select>

							<logger message="#[payload]" level="INFO" doc:name="Logger" />

							<choice doc:name="Choice">
								<when expression="#[payload.size() ==0]">
									<logger message="no existe investigador" level="INFO"
										doc:name="Logger" />
									<db:insert config-ref="MySQL_Configuration"
										autoGeneratedKeys="true" autoGeneratedKeysColumnIndexes="1"
										doc:name="Database">
										<db:parameterized-query><![CDATA[insert into investigador (n_nombre) values(#[autor.nombreCompleto])]]></db:parameterized-query>
									</db:insert>

									<set-variable variableName="idAutor"
										value="#[payload[0].GENERATED_KEY]" doc:name="Variable" />
								</when>
								<otherwise>
									<logger message="Investigador #[payload] ya existe"
										level="INFO" doc:name="Logger" />

									<set-variable variableName="idAutor"
										value="#[payload[0].k_codigo]" doc:name="Variable" />
								</otherwise>
							</choice>

							<logger message="#[idAutor]" level="INFO" doc:name="Logger" />

							<db:insert config-ref="MySQL_Configuration"
								autoGeneratedKeys="true" autoGeneratedKeysColumnIndexes="1"
								doc:name="Database">
								<db:parameterized-query><![CDATA[insert into esq_circuito_titular (i_cod_esq_circuito,i_cod_investigador,i_cod_grupo_investigacion,i_integrante_grupo,i_grupos_colaboracion) values(#[codigoEsquemaCircuito],#[idAutor],#[codigoGrupo],#[autor.integranteGrupo],#[autor.gruposColaboracion])]]></db:parameterized-query>
							</db:insert>
						</foreach>

					</foreach>
					<mulexml:object-to-xml-transformer
						doc:name="Object to XML" />
				</processor-chain>
			</when>
		</choice>
	</flow>
</mule>
