src/main/app/flujo-prototipo-industrial.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.9.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd 
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

<flow name="flujo-prototipo-industrial">
        <http:listener config-ref="HTTP_colciencias_Configuration" path="/flujoPrototipoIndustrial" doc:name="HTTP"/>
        <cxf:jaxws-service  doc:name="flujoPrototipoIndustrial"  service="prototipoIndustrialService" serviceClass="co.com.ic2.colciencias.ws.IServicePrototipoIndustrial"/>
        <choice doc:name="Choice">
        	<when
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'consultarClasificacionPrototiposIndustriales'"
				evaluator="groovy">
				<processor-chain doc:name="Processor Chain">
				
				<set-session-variable variableName="codigoGrupo"
						value="#[payload]" doc:name="Session Variable" />
						
					<db:select config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[select c_categoria, count(c_categoria) numero from(
						select pi.k_codigo,pi.c_categoria from prototipo_ind pi, 
						prototipo_ind_autor pia
						where pi.k_codigo=pia.i_cod_prototipo_ind
						and pia.i_cod_grupo_investigacion=#[codigoGrupo]
						group by pi.k_codigo) as prototipo_ind_grupo
						group by c_categoria]]></db:parameterized-query>
					</db:select>
				<json:object-to-json-transformer
						doc:name="Object to JSON" />
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
				</processor-chain>
			</when>
            <when evaluator="groovy"  expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'consultarPrototiposIndustriales'">
	                <processor-chain doc:name="Processor Chain">
	                    <db:select config-ref="MySQL_Configuration" doc:name="Database">
	                        <db:parameterized-query><![CDATA[select * from prototipo_ind]]></db:parameterized-query>
	                    </db:select>
	                <json:object-to-json-transformer
						doc:name="Object to JSON" />
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
					<scripting:component doc:name="Groovy">
						<scripting:script engine="Groovy"><![CDATA[co.com.ic2.transformers.TransformerPrototipoIndustrial.getPrototiposIndustriales(payload)]]></scripting:script>
					</scripting:component>
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
				</processor-chain>
			</when>
			<when evaluator="groovy"
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'consultarPrototiposIndustrialesGrupo'">
				<processor-chain doc:name="Processor Chain">

					<set-session-variable variableName="codigoGrupo"
						value="#[payload]" doc:name="Session Variable" />

					<db:select config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[select * from prototipo_ind pin,prototipo_ind_autor pia where pin.k_codigo=pia.i_cod_prototipo_ind and pia.i_cod_grupo_investigacion=#[codigoGrupo]]]></db:parameterized-query>
					</db:select>

					<json:object-to-json-transformer
						doc:name="Object to JSON" />
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
					<scripting:component doc:name="Groovy">
						<scripting:script engine="Groovy"><![CDATA[co.com.ic2.transformers.TransformerPrototipoIndustrial.getPrototiposIndustriales(payload)]]></scripting:script>
					</scripting:component>
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
				</processor-chain>
			</when>
            <when evaluator="groovy"  expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'insertarPrototipoIndustrial'">
	                <processor-chain doc:name="Processor Chain">
	                <set-session-variable variableName="codigo" value="#[payload[0]]" doc:name="Session Variable"/>
	                <set-session-variable variableName="nombre" value="#[payload[1]]" doc:name="Session Variable"/>
	                <set-session-variable variableName="fecha" value="#[payload[2]]" doc:name="Session Variable"/>
	                <set-session-variable variableName="institucionFinanciadora" value="#[payload[3]]" doc:name="Session Variable"/>
	               	<set-session-variable variableName="categoria" value="#[payload[4]]" doc:name="Session Variable"/>
	                <set-session-variable variableName="clasificado" value="#[payload[5]]" doc:name="Session Variable"/>
	                    <db:insert config-ref="MySQL_Configuration" doc:name="Database">
	                        <db:parameterized-query><![CDATA[insert into prototipo_ind (k_codigo,n_nombre,i_fecha,i_institucion_financiadora,i_pais_obtencion,
	                        c_categoria,b_clasificado) values(#[codigo],#[nombre],#[fecha],#[institucionFinanciadora],
	                        #[categoria],#[clasificado])]]></db:parameterized-query>
	                    </db:insert>
	                </processor-chain>
            </when>
            
            <when evaluator="groovy"  expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'insertarPrototiposIndustriales'">
	                <processor-chain doc:name="Processor Chain">
	                <set-session-variable variableName="codigoGrupo" value="#[payload[0]]" doc:name="Session Variable"/>
	                <set-session-variable variableName="prototiposIndustriales" value="#[payload[1]]" doc:name="Session Variable"/>
	                
	                <foreach collection="prototiposIndustriales" doc:name="For Each"
							counterVariableName="i" rootMessageVariableName="prototipoIndustrial">
							<set-variable variableName="prototipoIndustrial" value="#[prototiposIndustriales[i-1]]"
								doc:name="Session Variable" />
								
							<logger message="#[prototiposIndustriales[i-1].nombre]" level="INFO"
								doc:name="Logger" />
	
							<set-variable variableName="institucion" value="#[prototiposIndustriales[i-1].institucion]"
								doc:name="Variable" />

							<logger message="#[institucion]" level="INFO"
								doc:name="Logger" />

							<db:select config-ref="MySQL_Configuration" doc:name="Database">
								<db:parameterized-query><![CDATA[select k_codigo from entidad where n_nombre=#[institucion]]]></db:parameterized-query>
							</db:select>

							<logger message="#[payload]" level="INFO" doc:name="Logger" />

							<choice doc:name="Choice">
								<when expression="#[payload.size() ==0]">
									<logger message="no existe institucion" level="INFO"
										doc:name="Logger" />
									<db:insert config-ref="MySQL_Configuration"
										autoGeneratedKeys="true" autoGeneratedKeysColumnIndexes="1"
										doc:name="Database">
										<db:parameterized-query><![CDATA[insert into entidad (n_nombre,b_institucion) values(#[institucion],1)]]></db:parameterized-query>
									</db:insert>

									<set-variable variableName="idInstitucion"
										value="#[payload[0].GENERATED_KEY]" doc:name="Variable" />
								</when>
								<otherwise>
									<logger message="Institucion #[payload] ya existe"
										level="INFO" doc:name="Logger" />

									<set-variable variableName="idInstitucion"
										value="#[payload[0].k_codigo]" doc:name="Variable" />
								</otherwise>
							</choice>

							<logger message="#[idInstitucion]" level="INFO" doc:name="Logger" />
	
							<db:insert config-ref="MySQL_Configuration"
								autoGeneratedKeys="true" autoGeneratedKeysColumnIndexes="1"
								doc:name="Database">
								<db:parameterized-query><![CDATA[insert into prototipo_ind(n_nombre,f_fecha,i_institucion_financiadora,i_pais_obtencion,c_categoria,b_clasificado) 
								values(#[prototipoIndustrial.nombre],#[prototipoIndustrial.fecha],#[idInstitucion],(select k_codigo from pais where n_nombre=#[prototipoIndustrial.pais]),#[prototipoIndustrial.categoria],#[prototipoIndustrial.clasificado])]]></db:parameterized-query>
							</db:insert>
							<logger message="#[payload]" level="INFO" doc:name="Logger" />
							<set-variable variableName="codigoPrototipoIndustrial"
								value="#[payload[0].GENERATED_KEY]" doc:name="Variable" />
							<logger message="Codigo prototipo industrial generado #[codigoPrototipoIndustrial]"
								level="INFO" doc:name="Logger" />
	
							<set-variable variableName="autores"
								value="#[prototiposIndustriales[i-1].autores]" doc:name="Variable" />
	
							<foreach collection="autores" doc:name="For Each"
								counterVariableName="j" rootMessageVariableName="articulo">
								<set-variable variableName="autor" value="#[autores[j-1]]"
									doc:name="Variable" />
	
								<logger message="#[autor.nombreCompleto]" level="INFO"
									doc:name="Logger" />
	
								<db:select config-ref="MySQL_Configuration" doc:name="Database">
									<db:parameterized-query><![CDATA[select k_codigo from investigador where n_nombre=#[autor.nombreCompleto]]]></db:parameterized-query>
								</db:select>
	
								<logger message="#[payload]" level="INFO" doc:name="Logger" />
	
								<choice doc:name="Choice">
									<when expression="#[payload.size() ==0]">
										<logger message="no existe investigador" level="INFO"
											doc:name="Logger" />
										<db:insert config-ref="MySQL_Configuration"
											autoGeneratedKeys="true" autoGeneratedKeysColumnIndexes="1"
											doc:name="Database">
											<db:parameterized-query><![CDATA[insert into investigador (n_nombre) values(#[autor.nombreCompleto])]]></db:parameterized-query>
										</db:insert>
	
										<set-variable variableName="idAutor"
											value="#[payload[0].GENERATED_KEY]" doc:name="Variable" />
									</when>
									<otherwise>
										<logger message="Investigador #[payload] ya existe"
											level="INFO" doc:name="Logger" />
	
										<set-variable variableName="idAutor"
											value="#[payload[0].k_codigo]" doc:name="Variable" />
									</otherwise>
								</choice>
	
								<logger message="#[idAutor]" level="INFO" doc:name="Logger" />
	
								<db:insert config-ref="MySQL_Configuration"
									autoGeneratedKeys="true" autoGeneratedKeysColumnIndexes="1"
									doc:name="Database">
									<db:parameterized-query><![CDATA[insert into prototipo_ind_autor (i_cod_prototipo_ind,i_cod_investigador,i_cod_grupo_investigacion,i_integrante_grupo,i_grupos_colaboracion) values(#[codigoPrototipoIndustrial],#[idAutor],#[codigoGrupo],#[autor.integranteGrupo],#[autor.gruposColaboracion])]]></db:parameterized-query>
								</db:insert>
							</foreach>
	
						</foreach>
		                <mulexml:object-to-xml-transformer
						doc:name="Object to XML" />
	                
	                </processor-chain>
            </when>
        </choice>
    </flow>

</mule>
