src/main/app/flujo-apoyo-programa-formacion.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd 
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">

	<flow name="flujo-apoyo-programa-formacion">
		<http:listener config-ref="HTTP_colciencias_Configuration"
			path="/flujoApoyoProgramaFormacion" doc:name="HTTP" />
		<cxf:jaxws-service doc:name="flujoApoyoProgramaFormacion"
			service="apoyoProgramaFormacionService" serviceClass="co.com.ic2.colciencias.ws.IServiceApoyoProgramaFormacion" />
		<choice doc:name="Choice">
			<when
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'consultarApoyoProgramasFormacion'"
				evaluator="groovy">
				<processor-chain doc:name="Processor Chain">
					<db:select config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[select * from apoyo_prog_f]]></db:parameterized-query>
					</db:select>
				<json:object-to-json-transformer
						doc:name="Object to JSON" />
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
					<scripting:component doc:name="Groovy">
						<scripting:script engine="Groovy"><![CDATA[co.com.ic2.transformers.TransformerApoyoProgramaFormacion.getApoyoProgramasFormacion(payload)]]></scripting:script>
					</scripting:component>
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
				</processor-chain>
			</when>
			<when evaluator="groovy"
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'consultarApoyoProgramasFormacionGrupo'">
				<processor-chain doc:name="Processor Chain">

					<set-session-variable variableName="codigoGrupo"
						value="#[payload]" doc:name="Session Variable" />

					<db:select config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[select * from apoyo_prog_f where i_cod_grupo_investigacion=#[codigoGrupo]]]></db:parameterized-query>
					</db:select>

					<json:object-to-json-transformer
						doc:name="Object to JSON" />
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
					<scripting:component doc:name="Groovy">
						<scripting:script engine="Groovy"><![CDATA[co.com.ic2.transformers.TransformerApoyoProgramaFormacion.getApoyoProgramasFormacion(payload)]]></scripting:script>
					</scripting:component>
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
				</processor-chain>
			</when>
			<when
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'insertarApoyoProgramaFormacion'"
				evaluator="groovy">
				<processor-chain doc:name="Processor Chain">
					<set-session-variable variableName="codigo"
						value="#[payload[0]]" doc:name="Session Variable" />
					<set-session-variable variableName="nombre"
						value="#[payload[1]]" doc:name="Session Variable" />
					<set-session-variable variableName="institucion"
						value="#[payload[2]]" doc:name="Session Variable" />
					<set-session-variable variableName="facultad"
						value="#[payload[3]]" doc:name="Session Variable" />
					<set-session-variable variableName="departamento"
						value="#[payload[4]]" doc:name="Session Variable" />
					<set-session-variable variableName="idActoAdministrativo"
						value="#[payload[5]]" doc:name="Session Variable" />
					<set-session-variable variableName="numeroActoAdministrativo"
						value="#[payload[6]]" doc:name="Session Variable" />
					<set-session-variable variableName="fecha"
						value="#[payload[7]]" doc:name="Session Variable" />
					<set-session-variable variableName="tipoApoyo"
						value="#[payload[8]]" doc:name="Session Variable" />
					<set-session-variable variableName="categoria"
						value="#[payload[9]]" doc:name="Session Variable" />
					<set-session-variable variableName="clasificado"
						value="#[payload[10]]" doc:name="Session Variable" />
					<db:insert config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[insert into apoyo_prog_f (k_codigo,n_nombre,n_institucion,n_facultad,
	                        n_departamento,n_id_acto_admin,n_num_acto_admin,i_fecha,i_tipo_apoyo,c_categoria,b_clasificado) values(#[codigo],
	                        #[nombre],#[institucion],#[facultad],#[departamento],#[idActoAdministrativo],#[numeroActoAdministrativo],
	                        #[fecha],#[tipoApoyo],#[categoria],#[clasificado]])]]></db:parameterized-query>
					</db:insert>
				</processor-chain>
			</when>

			<when
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'insertarApoyosProgramaFormacion'"
				evaluator="groovy">
				<processor-chain doc:name="Processor Chain">
					<set-session-variable variableName="codigoGrupo"
						value="#[payload[0]]" doc:name="Session Variable" />
					<set-session-variable variableName="apoyosProgramaFormacion"
						value="#[payload[1]]" doc:name="Session Variable" />

					<foreach collection="apoyosProgramaFormacion" doc:name="For Each"
						counterVariableName="i" rootMessageVariableName="articulo">
						<set-variable variableName="apoyoProgramaFormacion"
							value="#[apoyosProgramaFormacion[i-1]]" doc:name="Session Variable" />
						
						<db:select config-ref="MySQL_Configuration" doc:name="Database">
							<db:parameterized-query><![CDATA[select k_codigo from entidad where n_nombre=#[apoyoProgramaFormacion.institucion]]]></db:parameterized-query>
						</db:select>

						<logger message="#[payload]" level="INFO" doc:name="Logger" />

						<choice doc:name="Choice">
						
							<when expression="#[apoyoProgramaFormacion.institucion == empty]">
								<logger message="#[payload]" level="INFO" doc:name="Logger" />
							</when>
							<when expression="#[payload.size() ==0 ]">
								<logger message="no existe institucion" level="INFO"
									doc:name="Logger" />
								<db:insert config-ref="MySQL_Configuration"
									autoGeneratedKeys="true" autoGeneratedKeysColumnIndexes="1"
									doc:name="Database">
									<db:parameterized-query><![CDATA[insert into entidad (n_nombre,b_institucion) values(#[apoyoProgramaFormacion.institucion],1)]]></db:parameterized-query>
								</db:insert>

								<set-variable variableName="idInstitucion"
									value="#[payload[0].GENERATED_KEY]" doc:name="Variable" />
							</when>
							
							<otherwise>
								<logger message="Entidad #[payload] ya existe"
									level="INFO" doc:name="Logger" />

								<set-variable variableName="idInstitucion" value="#[payload[0].k_codigo]"
									doc:name="Variable" />
							</otherwise>
						</choice>
						
						<db:insert config-ref="MySQL_Configuration"
							autoGeneratedKeys="true" autoGeneratedKeysColumnIndexes="1"
							doc:name="Database">
							<db:parameterized-query><![CDATA[insert into apoyo_prog_f (n_nombre,i_institucion,n_facultad,n_departamento,n_num_acto_admin,f_fecha,i_tipo_apoyo,n_programa_seleccionado,c_categoria,b_clasificado)
							 values(#[apoyoProgramaFormacion.nombre],#[idInstitucion],#[apoyoProgramaFormacion.facultad],#[apoyoProgramaFormacion.departamento],#[apoyoProgramaFormacion.numActoAdmin],#[apoyoProgramaFormacion.fechaActoAdmin],#[apoyoProgramaFormacion.tipoApoyo],#[apoyoProgramaFormacion.programaSeleccionado],#[apoyoProgramaFormacion.categoria],#[apoyoProgramaFormacion.clasificado])]]></db:parameterized-query>
						</db:insert>
						<logger message="#[payload]" level="INFO" doc:name="Logger" />
						<set-variable variableName="codigoApoyoPrograma"
							value="#[payload[0].GENERATED_KEY]" doc:name="Variable" />
						<logger message="Codigo apoyo programa formacion generado #[codigoApoyoPrograma]"
							level="INFO" doc:name="Logger" />
							
						<db:insert config-ref="MySQL_Configuration"
							autoGeneratedKeys="true" autoGeneratedKeysColumnIndexes="1"
							doc:name="Database">
							<db:parameterized-query><![CDATA[insert into apoyo_prog_f_grupo (i_cod_apoyo_prog_f,i_cod_grupo_investigacion)
							 values(#[codigoApoyoPrograma],#[codigoGrupo])]]></db:parameterized-query>
						</db:insert>

					</foreach>

				</processor-chain>
			</when>
		</choice>
	</flow>
</mule>
