src/main/app/flujo-empresa-base-tecnologica.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.9.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd 
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="flujo-empresa-base-tecnologica">
		<http:listener config-ref="HTTP_colciencias_Configuration"
			path="/flujoEmpresaBaseTecnologica" doc:name="HTTP" />
		<cxf:jaxws-service doc:name="flujoEmpresaBaseTecnologica"
			service="empresaBaseTecnologicaService" serviceClass="co.com.ic2.colciencias.ws.IServiceEmpresaBaseTecnologica" />
		<choice doc:name="Choice">
			<when evaluator="groovy"
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'consultarEmpresasBaseTecnologica'">
				<processor-chain doc:name="Processor Chain">
					<db:select config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[select * from emp_base_tec]]></db:parameterized-query>
					</db:select>
				<json:object-to-json-transformer
						doc:name="Object to JSON" />
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
					<scripting:component doc:name="Groovy">
						<scripting:script engine="Groovy"><![CDATA[co.com.ic2.transformers.TransformerEmpresaBaseTecnologica.getEmpresasBaseTecnologica(payload)]]></scripting:script>
					</scripting:component>
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
				</processor-chain>
			</when>
			<when evaluator="groovy"
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'consultarEmpresasBaseTecnologicaGrupo'">
				<processor-chain doc:name="Processor Chain">

					<set-session-variable variableName="codigoGrupo"
						value="#[payload]" doc:name="Session Variable" />

					<db:select config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[select * from emp_base_tec et,emp_base_tec_autor eta where et.k_codigo=eta.i_cod_emp_base_tec and eta.i_cod_grupo_investigacion=#[codigoGrupo]]]></db:parameterized-query>
					</db:select>

					<json:object-to-json-transformer
						doc:name="Object to JSON" />
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
					<scripting:component doc:name="Groovy">
						<scripting:script engine="Groovy"><![CDATA[co.com.ic2.transformers.TransformerEmpresaBaseTecnologica.getEmpresasBaseTecnologica(payload)]]></scripting:script>
					</scripting:component>
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
				</processor-chain>
			</when>
			<when evaluator="groovy"
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'insertarEmpresaBaseTecnologica'">
				<processor-chain doc:name="Processor Chain">
					<set-session-variable variableName="codigo"
						value="#[payload[0]]" doc:name="Session Variable" />
					<set-session-variable variableName="nombre"
						value="#[payload[1]]" doc:name="Session Variable" />
					<set-session-variable variableName="certificadoCamara"
						value="#[payload[2]]" doc:name="Session Variable" />
					<set-session-variable variableName="numeroTributario"
						value="#[payload[3]]" doc:name="Session Variable" />
					<set-session-variable variableName="certificacionInstitucional"
						value="#[payload[4]]" doc:name="Session Variable" />
					<set-session-variable variableName="tipoIdentificacion"
						value="#[payload[5]]" doc:name="Session Variable" />
					<set-session-variable variableName="tipoEmpresa"
						value="#[payload[6]]" doc:name="Session Variable" />
					<set-session-variable variableName="categoria"
						value="#[payload[7]]" doc:name="Session Variable" />
					<set-session-variable variableName="clasificado"
						value="#[payload[8]]" doc:name="Session Variable" />
					<db:insert config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[insert into emp_base_tec (k_codigo,n_nombre,b_certificado_camara,n_num_tributario,
	                        b_certificacion_institucional,i_tipo_identificacion,i_tipo_empresa,c_categoria,b_clasificado) values(#[codigo],#[nombre],
	                        #[certificadoCamara],#[numeroTributario],#[certificacionInstitucional],#[tipoidentificacion],#[tipoEmpresa],
	                        #[categoria],#[clasificado])]]></db:parameterized-query>
					</db:insert>
				</processor-chain>
			</when>
			<when evaluator="groovy"
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'insertarEmpresasBaseTecnologica'">
				<processor-chain doc:name="Processor Chain">
					<set-session-variable variableName="codigoGrupo"
						value="#[payload[0]]" doc:name="Session Variable" />
					<set-session-variable variableName="empresasBaseTecnologica"
						value="#[payload[1]]" doc:name="Session Variable" />

					<foreach collection="empresasBaseTecnologica" doc:name="For Each"
						counterVariableName="i" rootMessageVariableName="empresaBaseTecnologica">
						<set-variable variableName="empresaBaseTecnologica" value="#[empresasBaseTecnologica[i-1]]"
							doc:name="Session Variable" />

						<logger message="#[empresasBaseTecnologica[i-1].nombre]" level="INFO"
							doc:name="Logger" />

						<db:insert config-ref="MySQL_Configuration"
							autoGeneratedKeys="true" autoGeneratedKeysColumnIndexes="1"
							doc:name="Database">
							<db:parameterized-query><![CDATA[insert into emp_base_tec (n_nombre,b_certificado_camara,n_num_tributario,
	                        b_certificacion_institucional,i_tipo_identificacion,i_tipo_empresa,c_categoria,b_clasificado) values(#[empresaBaseTecnologica.nombre],
	                        #[empresaBaseTecnologica.certificadoCamaraComercio],#[empresaBaseTecnologica.nit],#[empresaBaseTecnologica.certificacionInstitucional],#[empresaBaseTecnologica.tipoIdentificacion],(select k_codigo from tipo_empresa where n_nombre=#[empresaBaseTecnologica.tipo]),
	                        #[empresaBaseTecnologica.categoria],#[empresaBaseTecnologica.clasificado])]]></db:parameterized-query>
						</db:insert>
						<logger message="#[payload]" level="INFO" doc:name="Logger" />
						<set-variable variableName="codigoEmpresaBaseTecnologica"
							value="#[payload[0].GENERATED_KEY]" doc:name="Variable" />
						<logger message="Codigo empresa base tecnologica generado #[codigoEmpresaBaseTecnologica]"
							level="INFO" doc:name="Logger" />

						<set-variable variableName="autores"
							value="#[empresasBaseTecnologica[i-1].autores]" doc:name="Variable" />

						<foreach collection="autores" doc:name="For Each"
							counterVariableName="j" rootMessageVariableName="articulo">
							<set-variable variableName="autor" value="#[autores[j-1]]"
								doc:name="Variable" />

							<logger message="#[autor.nombreCompleto]" level="INFO"
								doc:name="Logger" />

							<db:select config-ref="MySQL_Configuration" doc:name="Database">
								<db:parameterized-query><![CDATA[select k_codigo from investigador where n_nombre=#[autor.nombreCompleto]]]></db:parameterized-query>
							</db:select>

							<logger message="#[payload]" level="INFO" doc:name="Logger" />

							<choice doc:name="Choice">
								<when expression="#[payload.size() ==0]">
									<logger message="no existe investigador" level="INFO"
										doc:name="Logger" />
									<db:insert config-ref="MySQL_Configuration"
										autoGeneratedKeys="true" autoGeneratedKeysColumnIndexes="1"
										doc:name="Database">
										<db:parameterized-query><![CDATA[insert into investigador (n_nombre) values(#[autor.nombreCompleto])]]></db:parameterized-query>
									</db:insert>

									<set-variable variableName="idAutor"
										value="#[payload[0].GENERATED_KEY]" doc:name="Variable" />
								</when>
								<otherwise>
									<logger message="Investigador #[payload] ya existe"
										level="INFO" doc:name="Logger" />

									<set-variable variableName="idAutor"
										value="#[payload[0].k_codigo]" doc:name="Variable" />
								</otherwise>
							</choice>

							<logger message="#[idAutor]" level="INFO" doc:name="Logger" />

							<db:insert config-ref="MySQL_Configuration"
								autoGeneratedKeys="true" autoGeneratedKeysColumnIndexes="1"
								doc:name="Database">
								<db:parameterized-query><![CDATA[insert into emp_base_tec_autor (i_cod_emp_base_tec,i_cod_investigador,i_cod_grupo_investigacion) values(#[codigoEmpresaBaseTecnologica],#[idAutor],#[codigoGrupo])]]></db:parameterized-query>
							</db:insert>
						</foreach>

					</foreach>


				</processor-chain>
			</when>
		</choice>
	</flow>

</mule>
