src/main/app/flujo-generacion-contenido.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.9.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd 
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="flujo-generacion-contenido">
		<http:listener config-ref="HTTP_colciencias_Configuration"
			path="/flujoGeneracionContenido" doc:name="HTTP" />
		<cxf:jaxws-service doc:name="flujoGeneracionContenido"
			service="generacionContenidoService" serviceClass="co.com.ic2.colciencias.ws.IServiceGeneracionContenido" />
		<choice doc:name="Choice">
			<!-- Generacion contenidos impresos -->
			<when evaluator="groovy"
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'consultarGeneracionContenidosImpresos'">
				<processor-chain doc:name="Processor Chain">
					<db:select config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[select * from gen_cont_impreso]]></db:parameterized-query>
					</db:select>
					<json:object-to-json-transformer
						doc:name="Object to JSON" />
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
					<scripting:component doc:name="Groovy">
						<scripting:script engine="Groovy"><![CDATA[co.com.ic2.transformers.TransformerGeneracionContenido.getGeneracionContenidosImpresos(payload)]]></scripting:script>
					</scripting:component>
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
				</processor-chain>
			</when>
			<when evaluator="groovy"
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'consultarGeneracionContenidosImpresosGrupo'">
				<processor-chain doc:name="Processor Chain">

					<set-session-variable variableName="codigoGrupo"
						value="#[payload]" doc:name="Session Variable" />

					<db:select config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[select * from gen_cont_impreso ci,gen_contenido_autor ca where ci.k_codigo=ca.i_cod_gen_contenido and ca.i_cod_grupo_investigacion=#[codigoGrupo]]]></db:parameterized-query>
					</db:select>

					<json:object-to-json-transformer
						doc:name="Object to JSON" />
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
					<scripting:component doc:name="Groovy">
						<scripting:script engine="Groovy"><![CDATA[co.com.ic2.transformers.TransformerGeneracionContenido.getGeneracionContenidosImpresos(payload)]]></scripting:script>
					</scripting:component>
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
				</processor-chain>
			</when>
			<when evaluator="groovy"
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'insertarGeneracionContenidoImpreso'">
				<processor-chain doc:name="Processor Chain">
					<set-session-variable variableName="codigo"
						value="#[payload[0]]" doc:name="Session Variable" />
					<set-session-variable variableName="nombre"
						value="#[payload[1]]" doc:name="Session Variable" />
					<set-session-variable variableName="fechaPublicacion"
						value="#[payload[2]]" doc:name="Session Variable" />
					<set-session-variable variableName="medioCirculacion"
						value="#[payload[3]]" doc:name="Session Variable" />
					<set-session-variable variableName="ambito"
						value="#[payload[4]]" doc:name="Session Variable" />
					<set-session-variable variableName="lugarPublicacion"
						value="#[payload[5]]" doc:name="Session Variable" />
					<set-session-variable variableName="certificacion"
						value="#[payload[6]]" doc:name="Session Variable" />
					<set-session-variable variableName="categoria"
						value="#[payload[7]]" doc:name="Session Variable" />
					<set-session-variable variableName="clasificado"
						value="#[payload[8]]" doc:name="Session Variable" />
					<db:insert config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[insert into gen_cont_impreso (k_codigo,n_titulo,f_fecha_publicacion,n_medio_circulacion,
	                        n_ambito,i_lugar_publicacion,b_certificacion,c_categoria,b_clasificado) values(#[codigo],#[nombre],#[fechaPublicacion],
	                        #[medioCirculacion],#[ambito],#[lugarPublicacion],#[certificacion],#[categoria],#[clasificado]])]]></db:parameterized-query>
					</db:insert>
				</processor-chain>
			</when>
			<when evaluator="groovy"
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'consultarGeneracionContenidosMultimediaGrupo'">

			</when>

			<!-- Generacion contenidos multimedia -->
			<when evaluator="groovy"
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'consultarGeneracionContenidosMultimedia'">
				<processor-chain doc:name="Processor Chain">

					<db:select config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[select * from gen_cont_multimedia]]></db:parameterized-query>
					</db:select>
					<json:object-to-json-transformer
						doc:name="Object to JSON" />
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
					<scripting:component doc:name="Groovy">
						<scripting:script engine="Groovy"><![CDATA[co.com.ic2.transformers.transformers.TransformerGeneracionContenido.getGeneracionContenidosMultimedia(payload)]]></scripting:script>
					</scripting:component>
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
				</processor-chain>
			</when>
			<when evaluator="groovy"
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'consultarGeneracionContenidosMultimediaGrupo'">
				<processor-chain doc:name="Processor Chain">

					<set-session-variable variableName="codigoGrupo"
						value="#[payload]" doc:name="Session Variable" />

					<db:select config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[select * from gen_cont_multimedia cm,gen_cont_multimedia_participante cmp where cm.k_codigo=cmp.i_cod_gen_cont_multimedia and cmp.i_cod_grupo_investigacion=#[codigoGrupo]]]></db:parameterized-query>
					</db:select>

					<json:object-to-json-transformer
						doc:name="Object to JSON" />
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
					<scripting:component doc:name="Groovy">
						<scripting:script engine="Groovy"><![CDATA[co.com.ic2.transformers.transformers.TransformerGeneracionContenido.getGeneracionContenidosMultimedia(payload)]]></scripting:script>
					</scripting:component>
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
				</processor-chain>
			</when>
			<when evaluator="groovy"
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'insertarGeneracionContenidoMultimedia'">
				<processor-chain doc:name="Processor Chain">
					<set-session-variable variableName="codigo"
						value="#[payload[0]]" doc:name="Session Variable" />
					<set-session-variable variableName="titulo"
						value="#[payload[1]]" doc:name="Session Variable" />
					<set-session-variable variableName="ambito"
						value="#[payload[2]]" doc:name="Session Variable" />
					<set-session-variable variableName="comunidades"
						value="#[payload[3]]" doc:name="Session Variable" />
					<set-session-variable variableName="resumen"
						value="#[payload[4]]" doc:name="Session Variable" />
					<set-session-variable variableName="fecha"
						value="#[payload[5]]" doc:name="Session Variable" />
					<set-session-variable variableName="medioCirculacion"
						value="#[payload[6]]" doc:name="Session Variable" />
					<set-session-variable variableName="certificacion"
						value="#[payload[6]]" doc:name="Session Variable" />
					<set-session-variable variableName="categoria"
						value="#[payload[7]]" doc:name="Session Variable" />
					<set-session-variable variableName="clasificado"
						value="#[payload[8]]" doc:name="Session Variable" />
					<db:insert config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[insert into gen_cont_multimedia (k_codigo,n_titulo,n_ambito,n_comunidades,n_resumen,
	                        f_fecha,n_medio_circulacion,b_certificacion,c_categoria,b_clasificado) values(#[codigo],#[titulo],#[ambito],
	                        #[comunidades],#[resumen],#[fecha],#[medioCirculacion],#[certificacion],#[categoria],#[clasificado]])]]></db:parameterized-query>
					</db:insert>
				</processor-chain>
			</when>

			<!-- Generacion contenidos virtuales -->
			<when evaluator="groovy"
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'consultarGeneracionContenidosVirtuales'">
				<processor-chain doc:name="Processor Chain">
					<db:select config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[select * from gen_cont_virtual]]></db:parameterized-query>
					</db:select>

					<json:object-to-json-transformer
						doc:name="Object to JSON" />
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
					<scripting:component doc:name="Groovy">
						<scripting:script engine="Groovy"><![CDATA[co.com.ic2.transformers.transformers.TransformerGeneracionContenido.getGeneracionContenidosVirtuales(payload)]]></scripting:script>
					</scripting:component>
					<logger message="#[payload]" level="INFO" doc:name="Logger" />

				</processor-chain>
			</when>
			
			<when evaluator="groovy"
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'consultarGeneracionContenidosVirtualesGrupo'">
				<processor-chain doc:name="Processor Chain">
					
					<set-session-variable variableName="codigoGrupo"
						value="#[payload]" doc:name="Session Variable" />
					
					<db:select config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[select * from gen_cont_virtual cv,gen_cont_virtual_autor cva where cv.k_codigo=cva.i_cod_gen_cont_virtual and cva.i_cod_grupo_investigacion=#[codigoGrupo]]]></db:parameterized-query>
					</db:select>

					<json:object-to-json-transformer
						doc:name="Object to JSON" />
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
					<scripting:component doc:name="Groovy">
						<scripting:script engine="Groovy"><![CDATA[co.com.ic2.transformers.transformers.TransformerGeneracionContenido.getGeneracionContenidosVirtuales(payload)]]></scripting:script>
					</scripting:component>
					<logger message="#[payload]" level="INFO" doc:name="Logger" />

				</processor-chain>
			</when>
			<when evaluator="groovy"
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'insertarGeneracionContenidoVirtual'">
				<processor-chain doc:name="Processor Chain">
					<set-session-variable variableName="codigo"
						value="#[payload[0]]" doc:name="Session Variable" />
					<set-session-variable variableName="titulo"
						value="#[payload[1]]" doc:name="Session Variable" />
					<set-session-variable variableName="comunidad"
						value="#[payload[2]]" doc:name="Session Variable" />
					<set-session-variable variableName="resumen"
						value="#[payload[3]]" doc:name="Session Variable" />
					<set-session-variable variableName="fecha"
						value="#[payload[4]]" doc:name="Session Variable" />
					<set-session-variable variableName="medioCirculacion"
						value="#[payload[5]]" doc:name="Session Variable" />
					<set-session-variable variableName="paginaWeb"
						value="#[payload[6]]" doc:name="Session Variable" />
					<set-session-variable variableName="certificacion"
						value="#[payload[7]]" doc:name="Session Variable" />
					<set-session-variable variableName="categoria"
						value="#[payload[8]]" doc:name="Session Variable" />
					<set-session-variable variableName="clasificado"
						value="#[payload[9]]" doc:name="Session Variable" />
					<db:insert config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[insert into gen_cont_virtual (k_codigo,n_titulo,n_comunidad,n_resumen,
	                        i_fecha,n_medio_circulacion,n_pag_web,b_certificacion,c_categoria,b_clasificado) values(#[codigo],#[titulo],#[comunidad],
	                        #[resumen],#[fecha],#[medioCirculacion],#[paginaWeb],#[certificacion],#[categoria],#[clasificado]])]]></db:parameterized-query>
					</db:insert>
				</processor-chain>
			</when>
		</choice>
	</flow>
</mule>
