src/main/app/flujo-articulo-investigacion.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="flujo-articulo-investigacion">
		<http:listener config-ref="HTTP_colciencias_Configuration"
			path="/flujoArticuloInvestigacion" doc:name="HTTP" />
		<cxf:jaxws-service doc:name="flujoArticuloInvestigacion"
			service="articuloInvestigacionService" serviceClass="co.com.ic2.colciencias.ws.IServiceArticuloInvestigacion" />
		<choice doc:name="Choice">
			<when evaluator="groovy"
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'consultarArticulosInvestigacion'">
				<processor-chain doc:name="Processor Chain">
					<db:select config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[select * from articulo]]></db:parameterized-query>
					</db:select>
				</processor-chain>
			</when>
			<when evaluator="groovy"
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'insertarArticuloInvestigacion'">
				<processor-chain doc:name="Processor Chain">
					<set-session-variable variableName="codigo"
						value="#[payload[0]]" doc:name="Session Variable" />
					<set-session-variable variableName="titulo"
						value="#[payload[1]]" doc:name="Session Variable" />
					<set-session-variable variableName="ano"
						value="#[payload[2]]" doc:name="Session Variable" />
					<set-session-variable variableName="mes"
						value="#[payload[3]]" doc:name="Session Variable" />
					<set-session-variable variableName="volumen"
						value="#[payload[4]]" doc:name="Session Variable" />
					<set-session-variable variableName="paginaInicial"
						value="#[payload[5]]" doc:name="Session Variable" />
					<set-session-variable variableName="paginaFinal"
						value="#[payload[6]]" doc:name="Session Variable" />
					<set-session-variable variableName="issnRevista"
						value="#[payload[7]]" doc:name="Session Variable" />
					<set-session-variable variableName="paginaWeb"
						value="#[payload[8]]" doc:name="Session Variable" />
					<set-session-variable variableName="doi"
						value="#[payload[9]]" doc:name="Session Variable" />
					<set-session-variable variableName="paisPublicacion"
						value="#[payload[10]]" doc:name="Session Variable" />
					<set-session-variable variableName="categoria"
						value="#[payload[11]]" doc:name="Session Variable" />
					<set-session-variable variableName="clasificado"
						value="#[payload[12]]" doc:name="Session Variable" />
					<db:insert config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[insert into articulo (k_codigo,n_titulo,i_ano,i_mes,i_volumen,i_pagina_inicial,
	                        i_pagina_final,i_ISSN_revista,c_pag_web,c_DOI,i_pais_publicacion,c_categoria,b_clasificado) values(#[codigo],#[titulo],#[ano],#[mes],#[volumen],#[paginaInicial],
	                        ,#[paginaFinal],#[issnRevista],#[paginaWeb],#[doi],#[paisPublicacion],#[categoria],#[clasificado])]]></db:parameterized-query>
					</db:insert>
				</processor-chain>
			</when>
			<when evaluator="groovy"
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'insertarArticulosInvestigacion'">
				<processor-chain doc:name="Processor Chain">
					<set-session-variable variableName="codigoGrupo"
						value="#[payload[0]]" doc:name="Session Variable" />
					<set-session-variable variableName="articulos"
						value="#[payload[1]]" doc:name="Session Variable" />
					<foreach collection="articulos" doc:name="For Each"
						counterVariableName="i" rootMessageVariableName="articulo">
						<set-variable variableName="articulo" value="#[articulos[i-1]]"
							doc:name="Session Variable" />
						<logger message="#[articulos[i-1].nombre]" level="INFO"
							doc:name="Logger" />
						<logger message="#[articulo.nombre]" level="INFO" doc:name="Logger" />

						<db:select config-ref="MySQL_Configuration" doc:name="Database">
							<db:parameterized-query><![CDATA[select k_ISSN from revista where k_ISSN=#[articulo.issn] and n_nombre=#[articulo.revista]]]></db:parameterized-query>
						</db:select>
						<logger message="#[payload]" level="INFO" doc:name="Logger" />

						<choice doc:name="Choice">
							<when expression="#[payload.size() ==0]">
								<logger message="no existe issn" level="INFO" doc:name="Logger" />
								<db:insert config-ref="MySQL_Configuration"
									autoGeneratedKeys="true" autoGeneratedKeysColumnIndexes="1"
									doc:name="Database">
									<db:parameterized-query><![CDATA[insert into revista (k_ISSN,n_nombre) values(#[articulo.issn],#[articulo.revista])]]></db:parameterized-query>
								</db:insert>
							</when>
							<otherwise>
								<logger message="ISSN #[articulo.issn] ya existe" level="INFO"
									doc:name="Logger" />
							</otherwise>
						</choice>

						<logger message="#[payload]" level="INFO" doc:name="Logger" />

						<db:insert config-ref="MySQL_Configuration"
							autoGeneratedKeys="true" autoGeneratedKeysColumnIndexes="1"
							doc:name="Database">
							<db:parameterized-query><![CDATA[insert into articulo (n_titulo,i_ano,i_mes,i_volumen,i_pagina_inicial,
	                        i_pagina_final,i_ISSN_revista,c_pag_web,c_DOI,i_pais_publicacion,c_categoria,b_clasificado) values(#[articulo.nombre],#[articulo.ano],#[articulo.mes],#[articulo.volumen],#[articulo.pagInicial],#[articulo.pagFinal],#[articulo.issn],#[articulo.url],#[articulo.doi],(select k_codigo from pais where n_nombre=#[articulo.pais]),#[articulo.categoria],#[articulo.clasificado])]]></db:parameterized-query>
						</db:insert>
						<logger message="#[payload]" level="INFO" doc:name="Logger" />
						<set-variable variableName="codigoArticulo"
							value="#[payload[0].GENERATED_KEY]" doc:name="Variable" />
						<logger message="Codigo articulo generado #[codigoArticulo]"
							level="INFO" doc:name="Logger" />

						<set-variable variableName="autores"
							value="#[articulos[i-1].autores]" doc:name="Variable" />

						<foreach collection="autores" doc:name="For Each"
							counterVariableName="j" rootMessageVariableName="articulo">
							<set-variable variableName="autor" value="#[autores[j-1]]"
								doc:name="Variable" />

							<logger message="#[autor.nombreCompleto]" level="INFO"
								doc:name="Logger" />

							<db:select config-ref="MySQL_Configuration" doc:name="Database">
								<db:parameterized-query><![CDATA[select k_codigo from investigador where n_nombre=#[autor.nombreCompleto]]]></db:parameterized-query>
							</db:select>

							<logger message="#[payload]" level="INFO" doc:name="Logger" />

							<choice doc:name="Choice">
								<when expression="#[payload.size() ==0]">
									<logger message="no existe investigador" level="INFO"
										doc:name="Logger" />
									<db:insert config-ref="MySQL_Configuration"
										autoGeneratedKeys="true" autoGeneratedKeysColumnIndexes="1"
										doc:name="Database">
										<db:parameterized-query><![CDATA[insert into investigador (n_nombre) values(#[autor.nombreCompleto])]]></db:parameterized-query>
									</db:insert>

									<set-variable variableName="idAutor"
										value="#[payload[0].GENERATED_KEY]" doc:name="Variable" />
								</when>
								<otherwise>
									<logger message="Investigador #[payload] ya existe"
										level="INFO" doc:name="Logger" />

									<set-variable variableName="idAutor"
										value="#[payload[0].k_codigo]" doc:name="Variable" />
								</otherwise>
							</choice>

							<logger message="#[idAutor]" level="INFO" doc:name="Logger" />

							<db:insert config-ref="MySQL_Configuration"
								autoGeneratedKeys="true" autoGeneratedKeysColumnIndexes="1"
								doc:name="Database">
								<db:parameterized-query><![CDATA[insert into articulo_autor (i_cod_articulo,i_cod_investigador,i_cod_grupo_investigacion) values(#[codigoArticulo],#[idAutor],#[codigoGrupo])]]></db:parameterized-query>
							</db:insert>
						</foreach>
					</foreach>
				</processor-chain>
			</when>
		</choice>
		<mulexml:object-to-xml-transformer
			doc:name="Object to XML" />
	</flow>
</mule>
