src/main/app/flujo-innovacion-procedimiento-servicio.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.9.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd 
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="flujo-innovacion-procedimiento-servicio">
		<http:listener config-ref="HTTP_colciencias_Configuration"
			path="/flujoInnovacionProcedimientoServicio" doc:name="HTTP" />
		<cxf:jaxws-service doc:name="flujoInnovacionProcedimientoServicio"
			service="innovacionProcedimientoServicioService"
			serviceClass="co.com.ic2.colciencias.ws.IServiceInnovacionProcedimientoServicio" />
		<choice doc:name="Choice">
			<when
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'consultarClasificacionInnovacionesProcedimientosServicios'"
				evaluator="groovy">
				<processor-chain doc:name="Processor Chain">
				
				<set-session-variable variableName="codigoGrupo"
						value="#[payload]" doc:name="Session Variable" />
						
					<db:select config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[select c_categoria, count(c_categoria) numero from(
						select ip.k_codigo,ip.c_categoria from innovacion_ps ip, 
						innovacion_ps_autor ipa
						where ip.k_codigo=ipa.i_cod_innovacion_ps
						and ipa.i_cod_grupo_investigacion=#[codigoGrupo]
						group by ip.k_codigo) as innovacion_ps_grupo
						group by c_categoria]]></db:parameterized-query>
					</db:select>
				<json:object-to-json-transformer
						doc:name="Object to JSON" />
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
				</processor-chain>
			</when>
			<when evaluator="groovy"
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'consultarInnovacionesProcedimientosServicios'">
				<processor-chain doc:name="Processor Chain">
					<db:select config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[select * innovacion_ps]]></db:parameterized-query>
					</db:select>
					<json:object-to-json-transformer
						doc:name="Object to JSON" />
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
					<scripting:component doc:name="Groovy">
						<scripting:script engine="Groovy"><![CDATA[co.com.ic2.transformers.TransformerInnovacionProcedimientoServicio.getInnovacionesProcedimientosServicios(payload)]]></scripting:script>
					</scripting:component>
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
				</processor-chain>
			</when>
			<when evaluator="groovy"
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'consultarInnovacionesProcedimientosServiciosGrupo'">
				<processor-chain doc:name="Processor Chain">

					<set-session-variable variableName="codigoGrupo"
						value="#[payload]" doc:name="Session Variable" />

					<db:select config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[select * from innovacion_ps i,innovacion_ps_autor ia where i.k_codigo=ia.i_cod_innovacion_ps and ia.i_cod_grupo_investigacion=#[codigoGrupo]]]></db:parameterized-query>
					</db:select>

					<json:object-to-json-transformer
						doc:name="Object to JSON" />
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
					<scripting:component doc:name="Groovy">
						<scripting:script engine="Groovy"><![CDATA[co.com.ic2.transformers.TransformerInnovacionProcedimientoServicio.getInnovacionesProcedimientosServicios(payload)]]></scripting:script>
					</scripting:component>
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
				</processor-chain>
			</when>
			<when evaluator="groovy"
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'insertarInnovacionProcedimientoServicio'">
				<processor-chain doc:name="Processor Chain">
					<set-session-variable variableName="codigo"
						value="#[payload[0]]" doc:name="Session Variable" />
					<set-session-variable variableName="nombre"
						value="#[payload[1]]" doc:name="Session Variable" />
					<set-session-variable variableName="fecha"
						value="#[payload[2]]" doc:name="Session Variable" />
					<set-session-variable variableName="nombreEmpresa"
						value="#[payload[3]]" doc:name="Session Variable" />
					<set-session-variable variableName="nit"
						value="#[payload[4]]" doc:name="Session Variable" />
					<set-session-variable variableName="certificadoImplementacionP"
						value="#[payload[5]]" doc:name="Session Variable" />
					<set-session-variable variableName="certificadoImplementacionM"
						value="#[payload[6]]" doc:name="Session Variable" />
					<set-session-variable variableName="certificadoImplementacionG"
						value="#[payload[7]]" doc:name="Session Variable" />
					<set-session-variable variableName="categoria"
						value="#[payload[8]]" doc:name="Session Variable" />
					<set-session-variable variableName="clasificado"
						value="#[payload[9]]" doc:name="Session Variable" />
					<db:insert config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[insert into innovacion_ps (k_codigo,n_nombre,i_fecha,n_nombre_empresa,n_nit,b_certificado_imp_peq,
	                        b_certificado_imp_med,b_certificado_imp_gran,c_categoria,b_clasificado) values(#[codigo],#[nombre],#[fecha],#[nombreEmpresa],#[nit],
	                        #[certificadoImplementacionP],#[certificadoImplementacionM],#[certificadoImplementacionG],#[categoria],#[clasificado])]]></db:parameterized-query>
					</db:insert>
				</processor-chain>
			</when>
			<when evaluator="groovy"
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'insertarInnovacionesProcedimientosServicios'">
				<processor-chain doc:name="Processor Chain">
					<set-session-variable variableName="codigoGrupo"
						value="#[payload[0]]" doc:name="Session Variable" />
					<set-session-variable variableName="innovaciones"
						value="#[payload[1]]" doc:name="Session Variable" />

					<foreach collection="innovaciones" doc:name="For Each"
						counterVariableName="i" rootMessageVariableName="innovacion">
						<set-variable variableName="innovacion" value="#[innovaciones[i-1]]"
							doc:name="Session Variable" />

						<logger message="#[innovaciones[i-1].nombre]" level="INFO"
							doc:name="Logger" />

						<db:insert config-ref="MySQL_Configuration"
							autoGeneratedKeys="true" autoGeneratedKeysColumnIndexes="1"
							doc:name="Database">
							<db:parameterized-query><![CDATA[insert into innovacion_ps(n_nombre,f_fecha,n_nombre_empresa,n_nit,b_certificado_imp_peq,b_certificado_imp_med,b_certificado_imp_gran,c_categoria,b_clasificado) 
							values(#[innovacion.nombre],#[innovacion.fecha],#[innovacion.institucion],#[innovacion.nit],#[innovacion.certificadoImpPeq],#[innovacion.certificadoImpMed],#[innovacion.certificadoImpGran],#[innovacion.categoria],#[innovacion.clasificado])]]></db:parameterized-query>
						</db:insert>
						<logger message="#[payload]" level="INFO" doc:name="Logger" />
						<set-variable variableName="codigoInnovacion"
							value="#[payload[0].GENERATED_KEY]" doc:name="Variable" />
						<logger message="Codigo innovacion procedimiento servicio generado #[codigoInnovacion]"
							level="INFO" doc:name="Logger" />

						<set-variable variableName="autores"
							value="#[innovaciones[i-1].autores]" doc:name="Variable" />

						<foreach collection="autores" doc:name="For Each"
							counterVariableName="j" rootMessageVariableName="articulo">
							<set-variable variableName="autor" value="#[autores[j-1]]"
								doc:name="Variable" />

							<logger message="#[autor.nombreCompleto]" level="INFO"
								doc:name="Logger" />

							<db:select config-ref="MySQL_Configuration" doc:name="Database">
								<db:parameterized-query><![CDATA[select k_codigo from investigador where n_nombre=#[autor.nombreCompleto]]]></db:parameterized-query>
							</db:select>

							<logger message="#[payload]" level="INFO" doc:name="Logger" />

							<choice doc:name="Choice">
								<when expression="#[payload.size() ==0]">
									<logger message="no existe investigador" level="INFO"
										doc:name="Logger" />
									<db:insert config-ref="MySQL_Configuration"
										autoGeneratedKeys="true" autoGeneratedKeysColumnIndexes="1"
										doc:name="Database">
										<db:parameterized-query><![CDATA[insert into investigador (n_nombre) values(#[autor.nombreCompleto])]]></db:parameterized-query>
									</db:insert>

									<set-variable variableName="idAutor"
										value="#[payload[0].GENERATED_KEY]" doc:name="Variable" />
								</when>
								<otherwise>
									<logger message="Investigador #[payload] ya existe"
										level="INFO" doc:name="Logger" />

									<set-variable variableName="idAutor"
										value="#[payload[0].k_codigo]" doc:name="Variable" />
								</otherwise>
							</choice>

							<logger message="#[idAutor]" level="INFO" doc:name="Logger" />

							<db:insert config-ref="MySQL_Configuration"
								autoGeneratedKeys="true" autoGeneratedKeysColumnIndexes="1"
								doc:name="Database">
								<db:parameterized-query><![CDATA[insert into innovacion_ps_autor (i_cod_innovacion_ps,i_cod_investigador,i_cod_grupo_investigacion,i_integrante_grupo,i_grupos_colaboracion) values(#[codigoInnovacion],#[idAutor],#[codigoGrupo],#[autor.integranteGrupo],#[autor.gruposColaboracion])]]></db:parameterized-query>
							</db:insert>
						</foreach>

					</foreach>
					<mulexml:object-to-xml-transformer
						doc:name="Object to XML" />

				</processor-chain>
			</when>
		</choice>
	</flow>
</mule>
