src/main/app/flujo-participacion-ciudadana-proyecto-cti.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.9.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd 
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="flujo-participacion-ciudadana-proyecto-cti">
		<http:listener config-ref="HTTP_colciencias_Configuration"
			path="/flujoParticipacionCiudadanaProyectoCTI" doc:name="HTTP" />
		<cxf:jaxws-service doc:name="flujoParticipacionCiudadanaProyectoCTI"
			service="participacionCiudadanaProyectoCTIService"
			serviceClass="co.com.ic2.colciencias.ws.IServiceParticipacionCiudadanaProyectoCTI" />
		<choice doc:name="Choice">
			<when
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'consultarClasificacionParticipacionesCiudadanasProyectosCTI'"
				evaluator="groovy">
				<processor-chain doc:name="Processor Chain">
				
				<set-session-variable variableName="codigoGrupo"
						value="#[payload]" doc:name="Session Variable" />
						
					<db:select config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[select c_categoria, count(c_categoria) numero from
						part_ciud_proyecto_CTI
						where i_cod_grupo_investigacion=#[codigoGrupo]
						group by c_categoria]]></db:parameterized-query>
					</db:select>
				<json:object-to-json-transformer
						doc:name="Object to JSON" />
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
				</processor-chain>
			</when>
			<when evaluator="groovy"
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'consultarParticipacionesCiudadanasProyectosCTI'">
				<processor-chain doc:name="Processor Chain">
					<db:select config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[select * from part_ciud_proyecto_CTI]]></db:parameterized-query>
					</db:select>
					<json:object-to-json-transformer
						doc:name="Object to JSON" />
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
					<scripting:component doc:name="Groovy">
						<scripting:script engine="Groovy"><![CDATA[co.com.ic2.transformers.TransformerParticipacionCiudadanaProyectoCTI.getParticipacionesCiudadanasProyectosCTI(payload)]]></scripting:script>
					</scripting:component>
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
				</processor-chain>
			</when>
			<when evaluator="groovy"
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'consultarParticipacionesCiudadanasProyectosCTIGrupo'">
				<processor-chain doc:name="Processor Chain">

					<set-session-variable variableName="codigoGrupo"
						value="#[payload]" doc:name="Session Variable" />

					<db:select config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[select * from part_ciud_proyecto_CTI where i_cod_grupo_investigacion=#[codigoGrupo]]]></db:parameterized-query>
					</db:select>

					<json:object-to-json-transformer
						doc:name="Object to JSON" />
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
					<scripting:component doc:name="Groovy">
						<scripting:script engine="Groovy"><![CDATA[co.com.ic2.transformers.TransformerArticuloInvestigacion.getArticulosInvestigacion(payload)]]></scripting:script>
					</scripting:component>
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
				</processor-chain>
			</when>
			<when evaluator="groovy"
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'insertarParticipacionCiudadanaProyectoCTI'">
				<processor-chain doc:name="Processor Chain">
					<set-session-variable variableName="codigo"
						value="#[payload[0]]" doc:name="Session Variable" />
					<set-session-variable variableName="titulo"
						value="#[payload[1]]" doc:name="Session Variable" />
					<set-session-variable variableName="fechaInicio"
						value="#[payload[2]]" doc:name="Session Variable" />
					<set-session-variable variableName="nombreComunidad"
						value="#[payload[3]]" doc:name="Session Variable" />
					<set-session-variable variableName="investigadorPrincipal"
						value="#[payload[4]]" doc:name="Session Variable" />
					<set-session-variable variableName="constanciaParticipacion"
						value="#[payload[5]]" doc:name="Session Variable" />
					<set-session-variable variableName="categoria"
						value="#[payload[6]]" doc:name="Session Variable" />
					<set-session-variable variableName="clasificado"
						value="#[payload[7]]" doc:name="Session Variable" />
					<set-session-variable variableName="codigoGrupoInvestigacion"
						value="#[payload[8]]" doc:name="Session Variable" />
					<db:insert config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[insert into part_ciud_proyecto_CTI (k_codigo,n_titulo,i_fecha_inicio,n_nombre_comunidad,
	                        i_investigador_principal,n_constancia_participacion,c_categoria,b_clasificado,i_cod_grupo_investigacion) values(#[codigo],#[titulo],
	                        #[fechaInicio],#[nombreComunidad],#[investigadorPrincipal],#[constanciaParticipacion],#[categoria],
	                        #[clasificado,#[codigoGrupoInvestigacion]])]]></db:parameterized-query>
					</db:insert>
				</processor-chain>
			</when>
			<when evaluator="groovy"
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'insertarParticipacionesCiudadanasProyectosCTI'">
				<processor-chain doc:name="Processor Chain">
					<set-session-variable variableName="codigoGrupo"
						value="#[payload[0]]" doc:name="Session Variable" />
					<set-session-variable variableName="participacionesCti"
						value="#[payload[1]]" doc:name="Session Variable" />

					<foreach collection="participacionesCti" doc:name="For Each"
						counterVariableName="i" rootMessageVariableName="participacionCti">
						<set-variable variableName="participacionCti"
							value="#[participacionesCti[i-1]]" doc:name="Session Variable" />

						<logger message="#[participacionesCti[i-1].nombre]" level="INFO"
							doc:name="Logger" />

						<db:insert config-ref="MySQL_Configuration"
							autoGeneratedKeys="true" autoGeneratedKeysColumnIndexes="1"
							doc:name="Database">
							<db:parameterized-query><![CDATA[insert into part_ciud_proyecto_CTI (n_titulo,n_nombre_comunidad,n_constancia_participacion,c_categoria,b_clasificado,i_cod_grupo_investigacion) values(#[participacionCti.nombre],#[participacionCti.comunidadesParticipantes],#[participacionCti.constanciaParticipacion],#[participacionCti.categoria],#[participacionCti.clasificado],#[codigoGrupo])]]></db:parameterized-query>
						</db:insert>
						<logger message="#[payload]" level="INFO" doc:name="Logger" />
						<set-variable variableName="codigoParticipacionCti"
							value="#[payload[0].GENERATED_KEY]" doc:name="Variable" />
						<logger
							message="Codigo evento cientifico generado #[codigoParticipacionCti]"
							level="INFO" doc:name="Logger" />

						<set-variable variableName="instituciones"
							value="#[participacionesCti[i-1].instituciones]" doc:name="Variable" />
						<choice doc:name="Choice">
							<when expression="#[participacionesCti[i-1].instituciones != empty]">
								<foreach collection="instituciones" doc:name="For Each"
									counterVariableName="j" rootMessageVariableName="institucion">
									<set-variable variableName="institucion" value="#[instituciones[j-1]]"
										doc:name="Variable" />

									<logger message="#[institucion.nombre]" level="INFO"
										doc:name="Logger" />

									<db:select config-ref="MySQL_Configuration" doc:name="Database">
										<db:parameterized-query><![CDATA[select k_codigo from entidad where n_nombre=#[institucion.nombreCompleto]]]></db:parameterized-query>
									</db:select>

									<logger message="#[payload]" level="INFO" doc:name="Logger" />

									<choice doc:name="Choice">
										<when expression="#[payload.size() ==0]">
											<logger message="no existe institucion" level="INFO"
												doc:name="Logger" />
											<db:insert config-ref="MySQL_Configuration"
												autoGeneratedKeys="true" autoGeneratedKeysColumnIndexes="1"
												doc:name="Database">
												<db:parameterized-query><![CDATA[insert into entidad (n_nombre,b_institucion) values(#[institucion.nombre],1)]]></db:parameterized-query>
											</db:insert>

											<set-variable variableName="idInstitucion"
												value="#[payload[0].GENERATED_KEY]" doc:name="Variable" />
										</when>
										<otherwise>
											<logger message="Institucion #[payload] ya existe"
												level="INFO" doc:name="Logger" />

											<set-variable variableName="idInstitucion"
												value="#[payload[0].k_codigo]" doc:name="Variable" />
										</otherwise>
									</choice>

									<logger message="#[idInstitucion]" level="INFO"
										doc:name="Logger" />

									<db:insert config-ref="MySQL_Configuration"
										autoGeneratedKeys="true" autoGeneratedKeysColumnIndexes="1"
										doc:name="Database">
										<db:parameterized-query><![CDATA[insert into part_proy_CTI_entidad (i_cod_part_proyecto_CTI,i_cod_entidad) values(#[codigoProyectoCti],#[idInstitucion])]]></db:parameterized-query>
									</db:insert>
								</foreach>
							</when>
							<otherwise>
								<logger message="No hay instituciones en payload" level="INFO"
									doc:name="Logger" />
							</otherwise>
						</choice>
					</foreach>
					<mulexml:object-to-xml-transformer
						doc:name="Object to XML" />

				</processor-chain>
			</when>
		</choice>
	</flow>
</mule>
