src/main/app/flujo-secreto-empresarial.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.9.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

<flow name="flujo-secreto-empresarial">
        <http:listener config-ref="HTTP_colciencias_Configuration" path="/flujoSecretoEmpresarial" doc:name="HTTP"/>
        <cxf:jaxws-service  doc:name="flujoSecretoEmpresarial"  service="secretoEmpresarialService" serviceClass="co.com.ic2.colciencias.ws.IServiceSecretoEmpresarial"/>
        <choice doc:name="Choice">
        	<when
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'consultarClasificacionSecretosEmpresariales'"
				evaluator="groovy">
				<processor-chain doc:name="Processor Chain">
				
				<set-session-variable variableName="codigoGrupo"
						value="#[payload]" doc:name="Session Variable" />
						
					<db:select config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[select c_categoria, count(c_categoria) numero from(
						select se.k_codigo,se.c_categoria from secreto_emp se, 
						secreto_emp_autor sea
						where se.k_codigo=sea.i_cod_secreto_emp
						and sea.i_cod_grupo_investigacion=#[codigoGrupo]
						group by se.k_codigo) as secreto_emp_grupo
						group by c_categoria]]></db:parameterized-query>
					</db:select>
				<json:object-to-json-transformer
						doc:name="Object to JSON" />
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
				</processor-chain>
			</when>
            <when evaluator="groovy"  expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'consultarSecretosEmpresariales'">
	                <processor-chain doc:name="Processor Chain">
	                    <db:select config-ref="MySQL_Configuration" doc:name="Database">
	                        <db:parameterized-query><![CDATA[select * from secreto_emp]]></db:parameterized-query>
	                    </db:select>
	                </processor-chain>
            </when>
            <when evaluator="groovy"  expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'insertarSecretoEmpresarial'">
	                <processor-chain doc:name="Processor Chain">
	                <set-session-variable variableName="codigo" value="#[payload[0]]" doc:name="Session Variable"/>
	                <set-session-variable variableName="nombre" value="#[payload[1]]" doc:name="Session Variable"/>
	                <set-session-variable variableName="valorContrato" value="#[payload[2]]" doc:name="Session Variable"/>
	                <set-session-variable variableName="certificacion" value="#[payload[3]]" doc:name="Session Variable"/>
	                <set-session-variable variableName="numeroContrato" value="#[payload[4]]" doc:name="Session Variable"/>
	                <set-session-variable variableName="categoria" value="#[payload[5]]" doc:name="Session Variable"/>
	                <set-session-variable variableName="clasificado" value="#[payload[6]]" doc:name="Session Variable"/>
	                    <db:insert config-ref="MySQL_Configuration" doc:name="Database">
	                        <db:parameterized-query><![CDATA[insert into secreto_emp (k_codigo,n_nombre,i_valor_contrato,i_institucion_financiadora,i_pais_obtencion,
	                        c_numero_contrato,c_categoria,b_clasificado) values(#[codigo],#[nombre],#[valorContrato],#[certificacion],#[numeroContrato],
	                        #[categoria],#[clasificado])]]></db:parameterized-query>
	                    </db:insert>
	                </processor-chain>
            </when>
        </choice>
    </flow>
</mule>
