src/main/app/flujo-proyecto-extension-cti.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.9.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd 
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

<flow name="flujo-proyecto-extension-cti">
        <http:listener config-ref="HTTP_colciencias_Configuration" path="/flujoProyectoExtensionCTI" doc:name="HTTP"/>
        <cxf:jaxws-service  doc:name="flujoProyectoExtensionCTI"  service="proyectoExtensionCTIService" serviceClass="co.com.ic2.colciencias.ws.IServiceProyectoExtensionCTI"/>
        <choice doc:name="Choice">
        	<when
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'consultarClasificacionProyectosExtensionCTI'"
				evaluator="groovy">
				<processor-chain doc:name="Processor Chain">
				
				<set-session-variable variableName="codigoGrupo"
						value="#[payload]" doc:name="Session Variable" />
						
					<db:select config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[select c_categoria, count(c_categoria) numero from(
						select p.k_codigo,p.c_categoria from proyecto_ext_CTI p, 
						proyecto_ext_CTI_investigador pi
						where p.k_codigo=pi.i_cod_proyecto_ext
						and pi.i_cod_grupo_investigacion=#[codigoGrupo]
						group by p.k_codigo) as proyecto_ext_CTI_grupo
						group by c_categoria]]></db:parameterized-query>
					</db:select>
				<json:object-to-json-transformer
						doc:name="Object to JSON" />
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
				</processor-chain>
			</when>
            <when evaluator="groovy"  expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'consultarProyectosExtensionCTI'">
	                <processor-chain doc:name="Processor Chain">
	                    <db:select config-ref="MySQL_Configuration" doc:name="Database">
	                        <db:parameterized-query><![CDATA[select * from proyecto_ext_CTI]]></db:parameterized-query>
	                    </db:select>
	             <json:object-to-json-transformer
						doc:name="Object to JSON" />
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
					<scripting:component doc:name="Groovy">
						<scripting:script engine="Groovy"><![CDATA[co.com.ic2.transformers.TransformerProyectoExtensionCTI.getProyectosExtensionCTI(payload)]]></scripting:script>
					</scripting:component>
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
				</processor-chain>
			</when>
			<when evaluator="groovy"
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'consultarProyectosExtensionCTIGrupo'">
				<processor-chain doc:name="Processor Chain">

					<set-session-variable variableName="codigoGrupo"
						value="#[payload]" doc:name="Session Variable" />

					<db:select config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[select * from proyecto_ext_CTI pe,proyecto_ext_CTI_investigador pei where pe.k_codigo=pei.i_cod_proyecto and pei.i_cod_grupo_investigacion=#[codigoGrupo]]]></db:parameterized-query>
					</db:select>

					<json:object-to-json-transformer
						doc:name="Object to JSON" />
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
					<scripting:component doc:name="Groovy">
						<scripting:script engine="Groovy"><![CDATA[co.com.ic2.transformers.TransformerProyectoExtensionCTI.getProyectosExtensionCTI(payload)]]></scripting:script>
					</scripting:component>
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
				</processor-chain>
			</when>
            <when evaluator="groovy"  expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'insertarProyectoExtensionCTI'">
	                <processor-chain doc:name="Processor Chain">
	                <set-session-variable variableName="codigo" value="#[payload[0]]" doc:name="Session Variable"/>
	                <set-session-variable variableName="nombre" value="#[payload[1]]" doc:name="Session Variable"/>
	                <set-session-variable variableName="fechaInicio" value="#[payload[2]]" doc:name="Session Variable"/>
	                <set-session-variable variableName="fechaFin" value="#[payload[3]]" doc:name="Session Variable"/>
	                <set-session-variable variableName="nombreComunidad" value="#[payload[4]]" doc:name="Session Variable"/>
	                <set-session-variable variableName="resumenCtel" value="#[payload[5]]" doc:name="Session Variable"/>
	                <set-session-variable variableName="categoria" value="#[payload[6]]" doc:name="Session Variable"/>
	                <set-session-variable variableName="clasificado" value="#[payload[7]]" doc:name="Session Variable"/> 
	                    <db:insert config-ref="MySQL_Configuration" doc:name="Database">
	                        <db:parameterized-query><![CDATA[insert into proyecto_ext_CTI (k_codigo,n_nombre,i_fecha_inicio,i_fecha_fin,
	                        n_nombre_comunidad,n_resumen_ctel,c_categoria,b_clasificado) values(#[codigo],#[nombre],#[fechaInicio],#[fechaFin],
	                        #[nombreComunidad],#[resumenCtel],#[categoria],#[clasificado]])]]></db:parameterized-query>
	                    </db:insert>
	                </processor-chain>
            </when>
            <when evaluator="groovy"  expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'insertarProyectosExtensionCTI'">
	                <processor-chain doc:name="Processor Chain">
	                <set-session-variable variableName="codigoGrupo" value="#[payload[0]]" doc:name="Session Variable"/>
	                <set-session-variable variableName="proyectosExtension" value="#[payload[1]]" doc:name="Session Variable"/>
	                
	                <foreach collection="proyectosExtension" doc:name="For Each"
						counterVariableName="i" rootMessageVariableName="proyectoExtension">
						<set-variable variableName="proyectoExtension" value="#[proyectosExtension[i-1]]"
							doc:name="Session Variable" />

						<logger message="#[proyectosExtension[i-1].nombre]" level="INFO"
							doc:name="Logger" />						

						<db:insert config-ref="MySQL_Configuration"
							autoGeneratedKeys="true" autoGeneratedKeysColumnIndexes="1"
							doc:name="Database">
							<db:parameterized-query><![CDATA[insert into proyecto_ext_CTI(n_nombre,f_fecha_inicio,f_fecha_fin,n_nombre_comunidad,n_resumen_ctel,c_categoria,b_clasificado) 
								values(#[proyectoExtension.nombre],#[proyectoExtension.fechaInicio],#[proyectoExtension.fechaFin],#[proyectoExtension.nombreComunidad],#[proyectoExtension.resumenCtel],#[proyectoExtension.categoria],#[proyectoExtension.clasificado])]]></db:parameterized-query>
						</db:insert>
						<logger message="#[payload]" level="INFO" doc:name="Logger" />
						<set-variable variableName="codigoProyectoExtension"
							value="#[payload[0].GENERATED_KEY]" doc:name="Variable" />
						<logger message="Codigo proyecto generado #[codigoProyectoExtension]"
							level="INFO" doc:name="Logger" />


						<db:insert config-ref="MySQL_Configuration"
							autoGeneratedKeys="true" autoGeneratedKeysColumnIndexes="1"
							doc:name="Database">
							<db:parameterized-query><![CDATA[insert into proyecto_ext_CTI_investigador (i_cod_proyecto_ext,i_cod_grupo_investigacion) values(#[codigoProyectoExtension],#[codigoGrupo])]]></db:parameterized-query>
						</db:insert>
						
						<choice doc:name="Choice">
							<when expression="#[proyectosExtension[i-1].institucion != empty]">

								<set-variable variableName="institucion"
									value="#[proyectosExtension[i-1].institucion]" doc:name="Variable" />
									
								<logger message="#[institucion]" level="INFO" doc:name="Logger" />
								
								<db:select config-ref="MySQL_Configuration" doc:name="Database">
									<db:parameterized-query><![CDATA[select k_codigo from entidad where n_nombre=#[institucion]]]></db:parameterized-query>
								</db:select>

								<logger message="#[payload]" level="INFO" doc:name="Logger" />

								<choice doc:name="Choice">
									<when expression="#[payload.size() ==0]">
										<logger message="no existe institucion" level="INFO"
											doc:name="Logger" />
										<db:insert config-ref="MySQL_Configuration"
											autoGeneratedKeys="true" autoGeneratedKeysColumnIndexes="1"
											doc:name="Database">
											<db:parameterized-query><![CDATA[insert into entidad (n_nombre,b_institucion) values(#[institucion],1)]]></db:parameterized-query>
										</db:insert>

										<set-variable variableName="idInstitucion"
											value="#[payload[0].GENERATED_KEY]" doc:name="Variable" />
									</when>
									<otherwise>
										<logger message="Institucion #[payload] ya existe"
											level="INFO" doc:name="Logger" />

										<set-variable variableName="idInstitucion"
										value="#[payload[0].k_codigo]" doc:name="Variable" />
									</otherwise>
								</choice>
								<logger message="#[idInstitucion]" level="INFO" doc:name="Logger" />
								
								<db:insert config-ref="MySQL_Configuration"
									autoGeneratedKeys="true" autoGeneratedKeysColumnIndexes="1"
									doc:name="Database">
									<db:parameterized-query><![CDATA[insert into proyecto_ext_CTI_entidad (i_cod_proyecto_ext_CTI,i_cod_entidad) values(#[codigoProyectoExtension],#[idInstitucion])]]></db:parameterized-query>
								</db:insert>
							</when>
							<otherwise>
								<logger message="Institucion nula" level="INFO" doc:name="Logger" />
								
							</otherwise>
						</choice>
						
					</foreach>
					<mulexml:object-to-xml-transformer
						doc:name="Object to XML" />
	                
	                
	                </processor-chain>
            </when>
        </choice>
    </flow>
</mule>
