src/main/app/flujo-trabajo-grado.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.9.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd 
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="flujo-trabajo-grado">
		<http:listener config-ref="HTTP_colciencias_Configuration"
			path="/flujoTrabajoGrado" doc:name="HTTP" />
		<cxf:jaxws-service doc:name="flujoTrabajoGrado"
			service="trabajoGradoService" serviceClass="co.com.ic2.colciencias.ws.IServiceTrabajoGrado" />
		<choice doc:name="Choice">
			<when
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'consultarClasificacionTrabajosGrado'"
				evaluator="groovy">
				<processor-chain doc:name="Processor Chain">
				
				<set-session-variable variableName="codigoGrupo"
						value="#[payload]" doc:name="Session Variable" />
						
					<db:select config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[select c_categoria, count(c_categoria) numero from(
						select tg.k_codigo,tg.c_categoria from trabajo_grado tg, 
						trabajo_grado_director tga
						where tg.k_codigo=tga.i_cod_trabajo_grado
						and tga.i_cod_grupo_investigacion=#[codigoGrupo]
						group by tg.k_codigo) as trabajo_grado_grupo
						group by c_categoria]]></db:parameterized-query>
					</db:select>
				<json:object-to-json-transformer
						doc:name="Object to JSON" />
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
				</processor-chain>
			</when>
			<when evaluator="groovy"
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'consultarTrabajosGrado'">
				<processor-chain doc:name="Processor Chain">
					<db:select config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[select * from trabajo_grado]]></db:parameterized-query>
					</db:select>
					<json:object-to-json-transformer
						doc:name="Object to JSON" />
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
					<scripting:component doc:name="Groovy">
						<scripting:script engine="Groovy"><![CDATA[co.com.ic2.transformers.TransformerTrabajoGrado.getTrabajosGrado(payload)]]></scripting:script>
					</scripting:component>
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
				</processor-chain>
			</when>
			<when evaluator="groovy"
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'consultarTrabajosGradoGrupo'">
				<processor-chain doc:name="Processor Chain">

					<set-session-variable variableName="codigoGrupo"
						value="#[payload]" doc:name="Session Variable" />

					<db:select config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[select * from trabajo_grado tg,trabajo_grado_director tgd where tg.k_codigo=tgd.i_cod_trabajo_grado and tgd.i_cod_grupo_investigacion=#[codigoGrupo]]]></db:parameterized-query>
					</db:select>

					<json:object-to-json-transformer
						doc:name="Object to JSON" />
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
					<scripting:component doc:name="Groovy">
						<scripting:script engine="Groovy"><![CDATA[co.com.ic2.transformers.TransformerTrabajoGrado.getTrabajosGrado(payload)]]></scripting:script>
					</scripting:component>
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
				</processor-chain>
			</when>
			<when evaluator="groovy"
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'insertarTrabajoGrado'">
				<processor-chain doc:name="Processor Chain">
					<set-session-variable variableName="codigo"
						value="#[payload[0]]" doc:name="Session Variable" />
					<set-session-variable variableName="titulo"
						value="#[payload[1]]" doc:name="Session Variable" />
					<set-session-variable variableName="autor"
						value="#[payload[2]]" doc:name="Session Variable" />
					<set-session-variable variableName="institucion"
						value="#[payload[3]]" doc:name="Session Variable" />
					<set-session-variable variableName="ano"
						value="#[payload[4]]" doc:name="Session Variable" />
					<set-session-variable variableName="aprobado"
						value="#[payload[5]]" doc:name="Session Variable" />
					<set-session-variable variableName="distincion"
						value="#[payload[6]]" doc:name="Session Variable" />
					<set-session-variable variableName="tipoTrabajo"
						value="#[payload[7]]" doc:name="Session Variable" />
					<set-session-variable variableName="categoria"
						value="#[payload[8]]" doc:name="Session Variable" />
					<set-session-variable variableName="clasificado"
						value="#[payload[9]]" doc:name="Session Variable" />
					<db:insert config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[insert into trabajo_grado (k_codigo,n_titulo,n_autor,n_institucion,i_ano,b_aprobado,
	                        i_distincion,i_tipo_trabajo,c_categoria,b_clasificado) values(#[codigo],#[titulo],#[autor],#[institucion],#[ano],
	                        #[aprobado],#[distincion],#[tipoTrabajo],#[categoria],#[clasificado]])]]></db:parameterized-query>
					</db:insert>
				</processor-chain>
			</when>
			<when evaluator="groovy"
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'insertarTrabajosGrado'">
				<processor-chain doc:name="Processor Chain">
					<set-session-variable variableName="codigoGrupo"
						value="#[payload[0]]" doc:name="Session Variable" />
					<set-session-variable variableName="trabajosGrado"
						value="#[payload[1]]" doc:name="Session Variable" />
					
					<foreach collection="trabajosGrado" doc:name="For Each"
						counterVariableName="i" rootMessageVariableName="trabajoGrado">
						<set-variable variableName="trabajoGrado"
							value="#[trabajosGrado[i-1]]" doc:name="Session Variable" />

						<logger message="#[trabajosGrado[i-1].nombre]" level="INFO"
							doc:name="Logger" />
							
						<set-variable variableName="institucion" value="#[trabajosGrado[i-1].institucion]"
								doc:name="Variable" />

							<logger message="#[institucion]" level="INFO"
								doc:name="Logger" />

							<db:select config-ref="MySQL_Configuration" doc:name="Database">
								<db:parameterized-query><![CDATA[select k_codigo from entidad where n_nombre=#[institucion]]]></db:parameterized-query>
							</db:select>

							<logger message="#[payload]" level="INFO" doc:name="Logger" />

							<choice doc:name="Choice">
								<when expression="#[payload.size() ==0]">
									<logger message="no existe institucion" level="INFO"
										doc:name="Logger" />
									<db:insert config-ref="MySQL_Configuration"
										autoGeneratedKeys="true" autoGeneratedKeysColumnIndexes="1"
										doc:name="Database">
										<db:parameterized-query><![CDATA[insert into entidad (n_nombre,b_institucion) values(#[institucion],1)]]></db:parameterized-query>
									</db:insert>

									<set-variable variableName="idInstitucion"
										value="#[payload[0].GENERATED_KEY]" doc:name="Variable" />
								</when>
								<otherwise>
									<logger message="Institucion #[payload] ya existe"
										level="INFO" doc:name="Logger" />

									<set-variable variableName="idInstitucion"
										value="#[payload[0].k_codigo]" doc:name="Variable" />
								</otherwise>
							</choice>

						<db:insert config-ref="MySQL_Configuration"
							autoGeneratedKeys="true" autoGeneratedKeysColumnIndexes="1"
							doc:name="Database">
							<db:parameterized-query><![CDATA[insert into trabajo_grado (n_titulo,n_autor,i_institucion,i_ano,i_reconocimiento,i_tipo_trabajo,
	                        c_categoria,b_clasificado) values(#[trabajoGrado.nombre],#[trabajoGrado.autorTrabajo],#[idInstitucion],#[trabajoGrado.anoFin],(select k_codigo from reconocimiento_trabajo_grado where n_nombre=#[trabajoGrado.valoracion]),(select k_codigo from tipo_trabajo where n_nombre=#[trabajoGrado.tipo]),#[trabajoGrado.categoria],#[trabajoGrado.clasificado])]]></db:parameterized-query>
						</db:insert>
						<logger message="#[payload]" level="INFO" doc:name="Logger" />
						<set-variable variableName="codigoTrabajoGrado"
							value="#[payload[0].GENERATED_KEY]" doc:name="Variable" />
						<logger message="Codigo trabajo grado generado #[codigoTrabajoGrado]"
							level="INFO" doc:name="Logger" />

		                <set-variable variableName="autores" value="#[trabajoGrado.autores]"
								doc:name="Variable" />
	
							<foreach collection="autores" doc:name="For Each"
								counterVariableName="j" rootMessageVariableName="autor">
								<set-variable variableName="autor" value="#[autores[j-1]]"
									doc:name="Variable" />
	
								<logger message="#[autor.nombreCompleto]" level="INFO"
									doc:name="Logger" />
	
								<db:select config-ref="MySQL_Configuration" doc:name="Database">
									<db:parameterized-query><![CDATA[select k_codigo from investigador where n_nombre=#[autor.nombreCompleto]]]></db:parameterized-query>
								</db:select>
	
								<logger message="#[payload]" level="INFO" doc:name="Logger" />
	
								<choice doc:name="Choice">
									<when expression="#[payload.size() ==0]">
										<logger message="no existe investigador" level="INFO"
											doc:name="Logger" />
										<db:insert config-ref="MySQL_Configuration"
											autoGeneratedKeys="true" autoGeneratedKeysColumnIndexes="1"
											doc:name="Database">
											<db:parameterized-query><![CDATA[insert into investigador (n_nombre) values(#[autor.nombreCompleto])]]></db:parameterized-query>
										</db:insert>
	
										<set-variable variableName="idAutor"
											value="#[payload[0].GENERATED_KEY]" doc:name="Variable" />
									</when>
									<otherwise>
										<logger message="Investigador #[payload] ya existe"
											level="INFO" doc:name="Logger" />
	
										<set-variable variableName="idAutor"
											value="#[payload[0].k_codigo]" doc:name="Variable" />
									</otherwise>
								</choice>
	
								<logger message="#[idAutor]" level="INFO" doc:name="Logger" />
	
								<db:insert config-ref="MySQL_Configuration"
									autoGeneratedKeys="true" autoGeneratedKeysColumnIndexes="1"
									doc:name="Database">
									<db:parameterized-query><![CDATA[insert into trabajo_grado_director (i_cod_trabajo_grado,i_cod_investigador,b_director,i_cod_grupo_investigacion) values(#[codigoTrabajoGrado],#[idAutor],#[trabajoGrado.tipoDireccion=="Tutor principal"],#[codigoGrupo])]]></db:parameterized-query>
								</db:insert>
							</foreach>
	                </foreach>
	                <mulexml:object-to-xml-transformer doc:name="Object to XML"/>
					
				</processor-chain>
			</when>
		</choice>
	</flow>
</mule>
