src/main/app/flujo-espacio-participacion-ciudadana-cti.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="flujo-espacio-participacion-ciudadana-cti">
		<http:listener config-ref="HTTP_colciencias_Configuration"
			path="/flujoEspacioParticipacionCiudadanaCTI" doc:name="HTTP" />
		<cxf:jaxws-service doc:name="flujoEspacioParticipacionCiudadanaCTI"
			service="espacioParticipacionCiudadanaCTIService"
			serviceClass="co.com.ic2.colciencias.ws.IServiceEspacioParticipacionCiudadanaCTI" />
		<choice doc:name="Choice">
			<when
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'consultarClasificacionParticipacionesCiudadanasProyectosCTI'"
				evaluator="groovy">
				<processor-chain doc:name="Processor Chain">
				
				<set-session-variable variableName="codigoGrupo"
						value="#[payload]" doc:name="Session Variable" />
						
					<db:select config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[select c_categoria, count(c_categoria) numero from(
						select epc.k_codigo,epc.c_categoria from espacio_part_proyecto_CTI epc, 
						espacio_part_proyecto_CTI_autor epca 
						where epc.k_codigo=epca.i_cod_espacio_part_proyecto_CTI
						and epca.i_cod_grupo_investigacion=#[codigoGrupo]
						group by epc.k_codigo) as espacio_part_proyecto_CTI_grupo
						group by c_categoria]]></db:parameterized-query>
					</db:select>
				<json:object-to-json-transformer
						doc:name="Object to JSON" />
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
				</processor-chain>
			</when>
			<when evaluator="groovy"
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'consultarParticipacionesCiudadanasProyectosCTI'">
				<processor-chain doc:name="Processor Chain">
					<db:select config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[select * from espacio_part_proyecto_CTI]]></db:parameterized-query>
					</db:select>
					<json:object-to-json-transformer
						doc:name="Object to JSON" />
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
					<scripting:component doc:name="Groovy">
						<scripting:script engine="Groovy"><![CDATA[co.com.ic2.transformers.TransformerEspacioParticipacionCiudadanaCTI.getEspaciosParticipacionCiudadana(payload)]]></scripting:script>
					</scripting:component>
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
				</processor-chain>
			</when>
			<when evaluator="groovy"
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'consultarParticipacionesCiudadanasProyectosCTIGrupo'">
				<processor-chain doc:name="Processor Chain">

					<set-session-variable variableName="codigoGrupo"
						value="#[payload]" doc:name="Session Variable" />

					<db:select config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[select * from espacio_part_proyecto_CTI epp,espacio_part_proyecto_CTI_autor eppa where epp.k_codigo=eppa.i_cod_espacio_part_proyecto_CTI and eppa.i_cod_grupo_investigacion=#[codigoGrupo]]]></db:parameterized-query>
					</db:select>

					<json:object-to-json-transformer
						doc:name="Object to JSON" />
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
					<scripting:component doc:name="Groovy">
						<scripting:script engine="Groovy"><![CDATA[co.com.ic2.transformers.TransformerEspacioParticipacionCiudadanaCTI.getEspaciosParticipacionCiudadana(payload)]]></scripting:script>
					</scripting:component>
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
				</processor-chain>
			</when>
			<when evaluator="groovy"
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'insertarParticipacionCiudadanaProyectoCTI'">
				<processor-chain doc:name="Processor Chain">
					<set-session-variable variableName="codigo"
						value="#[payload[0]]" doc:name="Session Variable" />
					<set-session-variable variableName="nombreEspacio"
						value="#[payload[1]]" doc:name="Session Variable" />
					<set-session-variable variableName="fechaInicio"
						value="#[payload[2]]" doc:name="Session Variable" />
					<set-session-variable variableName="nombreComunidad"
						value="#[payload[3]]" doc:name="Session Variable" />
					<set-session-variable variableName="constanciaParticipacion"
						value="#[payload[4]]" doc:name="Session Variable" />
					<set-session-variable variableName="categoria"
						value="#[payload[5]]" doc:name="Session Variable" />
					<set-session-variable variableName="clasificado"
						value="#[payload[6]]" doc:name="Session Variable" />
					<db:insert config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[insert into espacio_part_proyecto_CTI (k_codigo,n_nombre_espacio,i_fecha_inicio,n_nombre_comunidad,
	                        n_constancia_participacion,c_categoria,b_clasificado) values(#[codigo],#[nombreEspacio],#[fechaInicio],#[nombreComunidad],
	                        #[constanciaParticipacion],#[categoria],#[clasificado]])]]></db:parameterized-query>
					</db:insert>
				</processor-chain>
			</when>
			<when evaluator="groovy"
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'insertarParticipacionesCiudadanasProyectosCTI'">
				<processor-chain doc:name="Processor Chain">
					<set-session-variable variableName="codigoGrupo"
						value="#[payload[0]]" doc:name="Session Variable" />
					<set-session-variable variableName="participaciones"
						value="#[payload[1]]" doc:name="Session Variable" />

					<foreach collection="participaciones" doc:name="For Each"
						counterVariableName="i" rootMessageVariableName="participacion">
						<set-variable variableName="participacion" value="#[participaciones[i-1]]"
							doc:name="Session Variable" />

						<db:insert config-ref="MySQL_Configuration"
							autoGeneratedKeys="true" autoGeneratedKeysColumnIndexes="1"
							doc:name="Database">
							<db:parameterized-query><![CDATA[insert into espacio_part_proyecto_CTI (n_nombre_espacio,f_fecha_inicio,n_nombre_comunidad,
	                        n_constancia_participacion,c_categoria,b_clasificado) values(#[participacion.nombre],#[participacion.fechaInicio],#[participacion.nombreComunidad],
	                        #[participacion.constanciaParticipacion],#[participacion.categoria],#[participacion.clasificado])]]></db:parameterized-query>
						</db:insert>
						<logger message="#[payload]" level="INFO" doc:name="Logger" />
						<set-variable variableName="codigoEspacioParticipacion"
							value="#[payload[0].GENERATED_KEY]" doc:name="Variable" />
						<logger
							message="Codigo espacio participacion cti generado #[codigoEspacioParticipacion]"
							level="INFO" doc:name="Logger" />

						<db:insert config-ref="MySQL_Configuration"
							autoGeneratedKeys="true" autoGeneratedKeysColumnIndexes="1"
							doc:name="Database">
							<db:parameterized-query><![CDATA[insert into espacio_part_proyecto_CTI_autor (i_cod_espacio_part_proyecto_CTI,i_cod_grupo_investigacion) values(#[codigoEspacioParticipacion],#[codigoGrupo])]]></db:parameterized-query>
						</db:insert>

					</foreach>
			        <mulexml:object-to-xml-transformer doc:name="Object to XML"/>
				</processor-chain>
			</when>
		</choice>
	</flow>
</mule>
