src/main/app/flujo-estrategia-comunicacion-conocimiento.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.9.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd 
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="flujo-estrategia-comunicacion-conocimiento">
		<http:listener config-ref="HTTP_colciencias_Configuration"
			path="/flujoEstrategiaComunicacionConocimiento" doc:name="HTTP" />
		<cxf:jaxws-service doc:name="flujoEstrategiaComunicacionConocimiento"
			service="estrategiaComunicacionConocimientoService"
			serviceClass="co.com.ic2.colciencias.ws.IServiceEstrategiaComunicacionConocimiento" />
		<choice doc:name="Choice">
			<when
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'consultarClasificacionEstrategiasComunicacionConocimiento'"
				evaluator="groovy">
				<processor-chain doc:name="Processor Chain">
				
				<set-session-variable variableName="codigoGrupo"
						value="#[payload]" doc:name="Session Variable" />
						
					<db:select config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[select c_categoria, count(c_categoria) numero from(
						select ecc.k_codigo,ecc.c_categoria from est_comunicacion_conocimiento ecc, 
						est_comunicacion_conocimiento_investigador ecci 
						where ecc.k_codigo=ecci.i_cod_est_comunicacion_conocimiento
						and ecci.i_cod_grupo_investigacion=#[codigoGrupo]
						group by ecc.k_codigo) as esq_circuito_grupo
						group by c_categoria]]></db:parameterized-query>
					</db:select>
				<json:object-to-json-transformer
						doc:name="Object to JSON" />
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
				</processor-chain>
			</when>
			<when evaluator="groovy"
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'consultarEstrategiasComunicacionConocimiento'">
				<processor-chain doc:name="Processor Chain">
					<db:select config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[select * from est_comunicacion_conocimiento]]></db:parameterized-query>
					</db:select>
					<json:object-to-json-transformer
						doc:name="Object to JSON" />
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
					<scripting:component doc:name="Groovy">
						<scripting:script engine="Groovy"><![CDATA[co.com.ic2.transformers.TransformerEstrategiaComunicacionConocimiento.getEstrategiasComunicacionConocimiento(payload)]]></scripting:script>
					</scripting:component>
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
				</processor-chain>
			</when>
			<when evaluator="groovy"
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'consultarEstrategiasComunicacionConocimientoGrupo'">
				<processor-chain doc:name="Processor Chain">

					<set-session-variable variableName="codigoGrupo"
						value="#[payload]" doc:name="Session Variable" />

					<db:select config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[select * from est_comunicacion_conocimiento ec, est_comunicacion_conocimiento_investigador eci where ec.k_codigo=eci.i_cod_est_comunicacion_conocimiento and eci.i_cod_grupo_investigacion=#[codigoGrupo]]]></db:parameterized-query>
					</db:select>

					<json:object-to-json-transformer
						doc:name="Object to JSON" />
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
					<scripting:component doc:name="Groovy">
						<scripting:script engine="Groovy"><![CDATA[co.com.ic2.transformers.TransformerEstrategiaComunicacionConocimiento.getEstrategiasComunicacionConocimiento(payload)]]></scripting:script>
					</scripting:component>
					<logger message="#[payload]" level="INFO" doc:name="Logger" />
				</processor-chain>
			</when>
			<when evaluator="groovy"
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'insertarEstrategiaComunicacionConocimiento'">
				<processor-chain doc:name="Processor Chain">
					<set-session-variable variableName="codigo"
						value="#[payload[0]]" doc:name="Session Variable" />
					<set-session-variable variableName="nombre"
						value="#[payload[1]]" doc:name="Session Variable" />
					<set-session-variable variableName="fechaInicio"
						value="#[payload[2]]" doc:name="Session Variable" />
					<set-session-variable variableName="lider"
						value="#[payload[3]]" doc:name="Session Variable" />
					<set-session-variable variableName="nombreComunidad"
						value="#[payload[4]]" doc:name="Session Variable" />
					<set-session-variable variableName="certificacion"
						value="#[payload[5]]" doc:name="Session Variable" />
					<set-session-variable variableName="categoria"
						value="#[payload[6]]" doc:name="Session Variable" />
					<set-session-variable variableName="clasificado"
						value="#[payload[7]]" doc:name="Session Variable" />
					<db:insert config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[insert into est_comunicacion_conocimiento (k_codigo,n_nombre,i_fecha_inicio,i_lider,n_nombre_comunidad,
	                        b_certificacion,c_categoria,b_clasificado) values(#[codigo],#[nombre],#[fechaInicio],#[lider],#[nombreComunidad],
	                        #[certificacion],#[categoria],#[clasificado]])]]></db:parameterized-query>
					</db:insert>
				</processor-chain>
			</when>
			<when evaluator="groovy"
				expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'insertarEstrategiasComunicacionConocimiento'">
				<processor-chain doc:name="Processor Chain">
					<set-session-variable variableName="codigoGrupo"
						value="#[payload[0]]" doc:name="Session Variable" />
					<set-session-variable variableName="estrategiasComunicacion"
						value="#[payload[1]]" doc:name="Session Variable" />

					<foreach collection="estrategiasComunicacion" doc:name="For Each"
						counterVariableName="i" rootMessageVariableName="estrategiaComunicacion">
						<set-variable variableName="estrategiaComunicacion"
							value="#[estrategiasComunicacion[i-1]]" doc:name="Session Variable" />

						<logger message="#[estrategiasComunicacion[i-1].nombre]"
							level="INFO" doc:name="Logger" />

						<db:insert config-ref="MySQL_Configuration"
							autoGeneratedKeys="true" autoGeneratedKeysColumnIndexes="1"
							doc:name="Database">
							<db:parameterized-query><![CDATA[insert into est_comunicacion_conocimiento (n_nombre,f_fecha_inicio,i_lider,n_nombre_comunidad,
	                        b_certificacion,c_categoria,b_clasificado) values(#[estrategiaComunicacion.nombre],#[estrategiaComunicacion.fechaInicio],#[estrategiaComunicacion.lider],#[estrategiaComunicacion.nombreComunidad],
	                        #[estrategiaComunicacion.certificacion],#[estrategiaComunicacion.categoria],#[estrategiaComunicacion.clasificado])]]></db:parameterized-query>
						</db:insert>
						<logger message="#[payload]" level="INFO" doc:name="Logger" />
						<set-variable variableName="codigoEstrategiaComunicacion"
							value="#[payload[0].GENERATED_KEY]" doc:name="Variable" />
						<logger
							message="Codigo estrategia comunicacion conocimiento generado #[codigoEstrategiaComunicacion]"
							level="INFO" doc:name="Logger" />

						<db:insert config-ref="MySQL_Configuration"
							autoGeneratedKeys="true" autoGeneratedKeysColumnIndexes="1"
							doc:name="Database">
							<db:parameterized-query><![CDATA[insert into est_comunicacion_conocimiento_investigador (i_cod_est_comunicacion_conocimiento,i_cod_grupo_investigacion) values(#[codigoEstrategiaComunicacion],#[codigoGrupo])]]></db:parameterized-query>
						</db:insert>
					</foreach>
					<mulexml:object-to-xml-transformer
							doc:name="Object to XML" />
				</processor-chain>
			</when>
		</choice>
	</flow>
</mule>
