target/classes/flujo-grupo-investigacion.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd">
    
    <cxf:configuration name="CXF_Configuration" enableMuleSoapHeaders="true" initializeStaticBusInstance="true" doc:name="CXF Configuration"/>
    <flow name="flujo-grupo-investigacionFlow">
        <http:listener config-ref="HTTP_colciencias_Configuration" path="/flujoGrupoInvestigacion" doc:name="HTTP"/>
        <cxf:jaxws-service  doc:name="flujoGruposInvestigacion" configuration-ref="CXF_Configuration" service="gruposInvestigacionService" serviceClass="co.com.ic2.colciencias.ws.IServiceGrupoInvestigacion"/>
        <choice doc:name="Choice">
            <when evaluator="groovy"  expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'consultarGruposInvestigacion'">
	                <processor-chain doc:name="Processor Chain">
	                    <db:select config-ref="MySQL_Configuration" doc:name="Database">
	                        <db:parameterized-query><![CDATA[select * from grupo_investigacion]]></db:parameterized-query>
	                    </db:select>
	                </processor-chain>
	                <json:object-to-json-transformer doc:name="Object to JSON"/>
	                <logger message="#[payload]" level="INFO" doc:name="Logger"/>
			        <scripting:component doc:name="Groovy">
			            <scripting:script engine="Groovy"><![CDATA[co.com.ic2.transformers.TransformerGrupoInvestigacion.getGrupoInvestigacion(payload)]]></scripting:script>
			        </scripting:component>
			        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
            </when>
            <when evaluator="groovy"  expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'insertarGrupoInvestigacion'">
	                <processor-chain doc:name="Processor Chain">
	                <set-session-variable variableName="nombre" value="#[payload]" doc:name="Session Variable"/>
	                <logger message="#[payload]" level="INFO" doc:name="Logger"/>
	                    <db:insert config-ref="MySQL_Configuration" autoGeneratedKeys="true" autoGeneratedKeysColumnIndexes="1" doc:name="Database">
                        <db:parameterized-query><![CDATA[insert into grupo_investigacion (n_nombre) values(#[nombre])]]></db:parameterized-query>

	                    </db:insert>
	                    <json:object-to-json-transformer doc:name="Object to JSON"/>
	                </processor-chain>
	                
	                
            </when>
        </choice>
        
    </flow>
</mule>
