target/classes/flujo-estrategia-comunicacion-conocimiento.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.9.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

<flow name="flujo-estrategia-comunicacion-conocimiento">
        <http:listener config-ref="HTTP_colciencias_Configuration" path="/flujoEstrategiaComunicacionConocimiento" doc:name="HTTP"/>
        <cxf:jaxws-service  doc:name="flujoEstrategiaComunicacionConocimiento"  service="estrategiaComunicacionConocimientoService" serviceClass="co.com.ic2.colciencias.ws.IServiceEstrategiaComunicacionConocimiento"/>
        <choice doc:name="Choice">
            <when evaluator="groovy"  expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'consultarEstrategiasComunicacionConocimiento'">
	                <processor-chain doc:name="Processor Chain">
	                    <db:select config-ref="PostgreSQL" doc:name="Database">
	                        <db:parameterized-query><![CDATA[select * from est_comunicacion_conocimiento]]></db:parameterized-query>
	                    </db:select>
	                </processor-chain>
            </when>
            <when evaluator="groovy"  expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'insertarEstrategiaComunicacionConocimiento'">
	                <processor-chain doc:name="Processor Chain">
	                <set-session-variable variableName="codigo" value="#[payload[0]]" doc:name="Session Variable"/>
	                <set-session-variable variableName="nombre" value="#[payload[1]]" doc:name="Session Variable"/>
	                <set-session-variable variableName="fechaInicio" value="#[payload[2]]" doc:name="Session Variable"/>
	                <set-session-variable variableName="lider" value="#[payload[3]]" doc:name="Session Variable"/>
	                <set-session-variable variableName="nombreComunidad" value="#[payload[4]]" doc:name="Session Variable"/>
	                <set-session-variable variableName="certificacion" value="#[payload[5]]" doc:name="Session Variable"/>
	                <set-session-variable variableName="categoria" value="#[payload[6]]" doc:name="Session Variable"/>
	                <set-session-variable variableName="clasificado" value="#[payload[7]]" doc:name="Session Variable"/> 
	                    <db:insert config-ref="PostgreSQL" doc:name="Database">
	                        <db:parameterized-query><![CDATA[insert into est_comunicacion_conocimiento (k_codigo,n_nombre,i_fecha_inicio,i_lider,n_nombre_comunidad,
	                        b_certificacion,c_categoria,b_clasificado) values(#[codigo],#[nombre],#[fechaInicio],#[lider],#[nombreComunidad],
	                        #[certificacion],#[categoria],#[clasificado]])]]></db:parameterized-query>
	                    </db:insert>
	                </processor-chain>
            </when>
        </choice>
        <mulexml:object-to-xml-transformer doc:name="Object to XML"/>
    </flow>
</mule>
