target/classes/flujo-espacio-participacion-ciudadana-cti.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.9.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

<flow name="flujo-espacio-participacion-ciudadana-cti">
        <http:listener config-ref="HTTP_colciencias_Configuration" path="/flujoEspacioParticipacionCiudadanaCTI" doc:name="HTTP"/>
        <cxf:jaxws-service  doc:name="flujoEspacioParticipacionCiudadanaCTI"  service="espacioParticipacionCiudadanaCTIService" serviceClass="co.com.ic2.colciencias.ws.IServiceEspacioParticipacionCiudadanaCTI"/>
        <choice doc:name="Choice">
            <when evaluator="groovy"  expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'consultarParticipacionesCiudadanasProyectosCTI'">
	                <processor-chain doc:name="Processor Chain">
	                    <db:select config-ref="MySQL_Configuration" doc:name="Database">
	                        <db:parameterized-query><![CDATA[select * from espacio_part_proyecto_CTI]]></db:parameterized-query>
	                    </db:select>
	                </processor-chain>
            </when>
            <when evaluator="groovy"  expression="message.getInvocationProperty('cxf_operation').getLocalPart() == 'insertarParticipacionCiudadanaProyectoCTI'">
	                <processor-chain doc:name="Processor Chain">
	                <set-session-variable variableName="codigo" value="#[payload[0]]" doc:name="Session Variable"/>
	                <set-session-variable variableName="nombreEspacio" value="#[payload[1]]" doc:name="Session Variable"/>
	                <set-session-variable variableName="fechaInicio" value="#[payload[2]]" doc:name="Session Variable"/>
	                <set-session-variable variableName="nombreComunidad" value="#[payload[3]]" doc:name="Session Variable"/>
	                <set-session-variable variableName="constanciaParticipacion" value="#[payload[4]]" doc:name="Session Variable"/>
	                <set-session-variable variableName="categoria" value="#[payload[5]]" doc:name="Session Variable"/>
	                <set-session-variable variableName="clasificado" value="#[payload[6]]" doc:name="Session Variable"/>
	                    <db:insert config-ref="MySQL_Configuration" doc:name="Database">
	                        <db:parameterized-query><![CDATA[insert into espacio_part_proyecto_CTI (k_codigo,n_nombre_espacio,i_fecha_inicio,n_nombre_comunidad,
	                        n_constancia_participacion,c_categoria,b_clasificado) values(#[codigo],#[nombreEspacio],#[fechaInicio],#[nombreComunidad],
	                        #[constanciaParticipacion],#[categoria],#[clasificado]])]]></db:parameterized-query>
	                    </db:insert>
	                </processor-chain>
            </when>
        </choice>
        <mulexml:object-to-xml-transformer doc:name="Object to XML"/>
    </flow>
</mule>
